<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>单飞管理</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="../img/analysis/auf_title.png" type="image/x-icon"/>
<link rel="stylesheet" href="../css/fakeLoader.min.css">
<link rel="stylesheet" type="text/css" href="../css/button.min.css">
<link rel="stylesheet" type="text/css" href="../css/justin_common.css">
<link href="../css/jquery-ui.dialog.1.11.4.min.css" rel="stylesheet" type="text/css">

<script src="assets/javascripts/1.3.0/adminflare-demo-init.min.js"
	type="text/javascript"></script>

<script type="text/javascript">
	// Include Bootstrap stylesheet 
	document
			.write('<link href="assets/css/' + DEMO_ADMINFLARE_VERSION + '/' + DEMO_CURRENT_THEME + '/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" id="bootstrap-css">');
	// Include AdminFlare stylesheet 
	document
			.write('<link href="assets/css/' + DEMO_ADMINFLARE_VERSION + '/' + DEMO_CURRENT_THEME + '/adminflare.min.css" media="all" rel="stylesheet" type="text/css" id="adminflare-css">');
</script>

<script src="assets/javascripts/1.3.0/modernizr-jquery.min.js"
	type="text/javascript"></script>
<script src="assets/javascripts/1.3.0/adminflare-demo.min.js"
	type="text/javascript"></script>
<script src="assets/javascripts/1.3.0/bootstrap.min.js"
	type="text/javascript"></script>
<script src="assets/javascripts/1.3.0/adminflare.min.js"
	type="text/javascript"></script>
<script src="assets/javascripts/vue.min.js" type="text/javascript"></script>
<script src="../js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="../js/justin_common.js" type="text/javascript"></script>
<script src="../mobile/js/lib/underscore-min.js" type="text/javascript"></script>
<script src="../js/fakeLoader.min.js" type="text/javascript"></script>
<script src="../js/jquery-ui.dialog.1.11.4.min.js" type="text/javascript"></script>

<style type="text/css">
.well, .box {
	padding-bottom: 0;
}
</style>

<script type="text/javascript">
	$(document).ready(function() {
		prettyPrint();
	});
</script>
</head>
<body>
	<div id="fakeLoader"></div>
	<script type="text/javascript">
		demoSetBodyLayout();
	</script>
	<!-- Main navigation bar
		================================================== -->
	<header class="navbar navbar-fixed-top" id="main-navbar">
		<div class="navbar-inner">
			<div class="container">
				<img id="arenaLogo" onerror="this.style.display='none'"  style="float: left;margin: 6px 0px 0px 5px;width: 28px;height: 28px;">
				<a class="logo"
					style="width: 200px;color: cornsilk; font-size: 15px;font-weight: bold; margin: 10px 8px 0px 8px;">Auf-Backend</a>
				<a class="btn nav-button collapsed" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-reorder"></span>
				</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<a href="/footballer/backadmin/fieldReservation.html">预定</a></li>
						<li class="complete">
							<a href="/footballer/backadmin/battleMgmt.html" style="color: greenyellow;">约战</a></li>
						<li class="complete">
							<a href="/footballer/backadmin/soloMgmt.html" style="color: aqua;">单飞</a></li>
						<li class="divider-vertical"></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<i class=" icon-caret-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/footballer/backadmin/memberList.html">会员</a></li>
								<li><a href="/footballer/backadmin/nonmemberList.html">用户</a></li>
								<li><a href="/footballer/backadmin/fieldManagement.html">场次/价格</a></li>
								<li class="divider"></li>
								<li class="nav-header">高级功能</li>
								<li><a href="/footballer/backadmin/dataStatistics.html">数据统计</a></li>
								<li><a href="/footballer/backadmin/automationConfig.html">固定场次自动预定</a></li>
							</ul></li>
						<li class="divider-vertical"></li>
					</ul>
					<!-- <form class="navbar-search pull-left" action="" _lpchecked="1">
						<input type="text" class="search-query" placeholder="Search" style="width: 120px">
					</form> -->
					<ul class="nav pull-right">
						<li>
							<!-- <ul class="messages">
								<li><a href="#"><i class="icon-warning-sign"></i> 2<span class="responsive-text"> alerts</span></a></li>
								<li><a href="#"><i class="icon-envelope"></i> 25<span class="responsive-text"> new messages</span></a></li>
							</ul> -->
						</li>
						<li class="separator"></li>
						<li class="dropdown">
							<img onerror="this.style.display='none'" class="headIcon" src="../img/common/admin_spy.png" style="margin: 3px 0 0 1px;">
							<a href="#" class="dropdown-toggle usermenu" data-toggle="dropdown"> 
								<span id="adminName" style="width: 100px;display: block;">管理员名</span>
							</a>
							<ul class="dropdown-menu">
								<li><a onclick="updatePwdPopup();" href="#">修改密码</a></li>
								<!-- <li><a href="#">设置</a></li> -->
								<li class="divider"></li>
								<li><a onclick="loginOut();" href="/footballer/backadmin/fieldReservation.html" >登出</a></li>
							</ul>
					</ul>
				</div>
			</div>
		</div>
	</header>
	
	<div id="app">
	<div id="dialog-form" title="请先登陆"  style="display:none;">
		  <p class="validateTips"></p>
		 
		  <form>
		    <fieldset>
		      <div class="HBox">
		      	<label for="name">用户</label>
		      	<input type="text" name="name" id="name"  class="text ui-widget-content ui-corner-all">
		      </div>
		      <br>
		      <div class="HBox">
		      	<label for="password">密码</label>
		      	<input type="password" name="password" id="password"  class="text ui-widget-content ui-corner-all">
		      </div>
		      <!-- Allow form submission with keyboard without duplicating the dialog button -->
		      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		    </fieldset>
		  </form>
	</div>
	
	<div id="dialog-updatePwd" title="修改密码"  style="display:none;">
		  <p class="validateTips"></p>
		 
		  <form>
		    <fieldset>
		      <div class="HBox">
		      	<label for="newPwd" class="forInput">新密码</label>
		      	<input type="password" name="newPwd" id="newPwd"  class="text ui-widget-content ui-corner-all">
		      </div>
		      <br>
		      <div class="HBox">
		      	<label for="confirmPwd" class="forInput">确认密码</label>
		      	<input type="password" name="confirmPwd" id="confirmPwd"  class="text ui-widget-content ui-corner-all">
		      </div>
		      <!-- Allow form submission with keyboard without duplicating the dialog button -->
		      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		    </fieldset>
		  </form>
	</div>
	
	<div id="dialog-battleConfirm" title="单飞详情"  style="display:none;">
		 
		  <form>
		    <fieldset>
		      <p class="battleTips"></p>
		      <table>
		      	<tr>
		      		<td style="width: 44px;"><label for="name">时间</label></td>
		      		<td><label id="battleTimeInfo" for="name"/></td>
		      	</tr>
		      	<tr>
		      		<td><label for="name">场地</label></td>
		      		<td>
		      			<select style="font-size: 14px;" v-on:change="fieldSelectChange">
							<option value="0">请选择可用场地</option>
                        	<option v-for="item in avaliableFieldsList" id="{{item.fcsId}}" value="{{item.fieldId}}">{{item.fieldName}}</option>
						</select>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td><label for="name">球队</label></td>
		      		<td id="team1"></td>
		      	</tr>
		      	<tr style="height: 80px;">
		      		<td><label for="name">球队</label></td>
		      		<td id="team2"></td>
		      	</tr>
		      </table>
		      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		    </fieldset>
		  </form>
	</div>


	<section class="container" >

		<section class="row-fluid" style="width: 1125px;">
			<h3 class="box-header">
				<img onerror="this.style.display='none'" class="headIcon" src="../img/backend/solo_120_120_black.png" style="margin: -7px 10px 0px 0px;">
				单飞管理
			</h3>
			<div class="box">
				<div class="HBox" style="width:100%">
					<div style="margin-right:60px;width:41%;">
					<h4 style="padding: 0px 0px 0px 5px;display: inline-flex;">
						<img onerror="this.style.display='none'" class="headIcon" src="../img/backend/solo_100_120_1.png" style="margin: -7px 10px 0px 0px;">
						球场常用单飞用户
						<label>(根据使用频次排序)</label>
					</h4>
					</div>
					<div class="HBox" style="width:55%;display: block;">
						<div class="left">
							<h4 style="padding: 0px 0px 0px 5px;color: darkgreen;display: inline-flex;">
								<img onerror="this.style.display='none'" class="headIcon" src="assets/images/wechatpaid.png" style="margin: -7px 10px 0px 0px;">
								微信端: 单飞报名
								<label>(微信端收集)</label>	
							</h4>
						</div>
						
						<div class="button-group right">
							<button v-on:click="showAllday" type="button" class="button button-pill button-small button-highlight">全天</button>
				    		<button v-on:click="showEvening" type="button" class="button button-pill button-small button-royal">晚上</button>
						</div>
					</div>
				</div>
				
				<div class="HBox" >
				
					<!-- 常用单飞客户 -->
					<div id="backendBattleUserArea" style="border: aliceblue 3px solid; margin-right:60px;width:50%;height:550px; overflow-x:hidden;overflow-y:auto;"> 
						<div class="HBox" style="font-weight: 500;color: dodgerblue; background-color: aliceblue;width:101%;padding: 5px;">
							<span style="width:140px; padding-left:5px;">
							<label style="width: 130px;text-align: left;font-weight: 500;">球员头像名字</label>
							</span>
							<!-- <label style="width: 80px;text-align: left;padding-right:5px;font-weight: 500;">队名</label> -->
							<label style="width: 70px;text-align: left;padding-right:20px;font-weight: 500;">电话</label>
							<label style="width: 52px;text-align: right;padding-left:5px;font-weight: 500;">报名</label>
							<label style="width: 40px;text-align: right;padding-left:5px;font-weight: 500;">缺席</label>
							<label style="width: 52px;text-align: left;padding-left:15px;font-weight: 500;">出场率</label>
						</div><br><br>
						
						
						<template v-for="row in soloActiveCustomersList">
							<div class="HBox" name="backendTeam" data-playerid="{{row.playerId}}" data-teamId="{{row.teamId}}" draggable="true" style="height: 40px;" 
								  @dragstart="dragSoloItem" 
								  onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
								
								<!-- <img onerror="this.style.display='none'" class="teamIcon" src="http://static.footballer.cc/{{row.teamLogo}}" style="margin: -7px 10px 0px 0px;"> -->
								
								<span class="child-elements" style="width:140px; padding-left:5px;">
									<div v-if="row.playerHeadIcon">
										<img onerror="this.style.display='none'" class="headIcon" src="{{row.playerHeadIcon}}" style="margin: -7px 10px 0px 0px;">
									</div>	
									<label style="width: 130px;text-align: left;">{{row.playerName}}</label>
								</span>
								
								<!-- <label class="child-elements" style="width: 80px;text-align: left;padding-right:5px;">{{row.teamName}}</label> -->
								<label class="child-elements" style="width: 70px;text-align: left;padding-right:20px;">{{row.cellphone}}</label>
								<label style="width: 52px;text-align: right;padding-left:5px;color:darkgrey; font-weight:bolder;">{{row.useTimes}}</label>
								<label style="width: 40px;text-align: right;padding-left:5px;color:red; font-weight:bolder;">{{row.absentTimes}}</label>
								<label style="width: 52px;text-align: right;padding-left:15px;color:green; font-weight:bolder;">{{row.percent}}</label>								
							</div>
						</template>					
					</div>
					
					<!-- 微信约战 -->
					<div id="wechatSoloWishArea" style="width:67%; height:553px; overflow-y:auto; border: aliceblue 3px solid;" draggable="false">
						<template v-for="row in soloWishList">
								<li class="HBox" style="padding: 5px 0px 5px 5px; width: 100%;background-color: aliceblue;color: dodgerblue;margin-bottom:0px;">
									<label style="width: 120px;font-size: 16px;padding-left:5px;">{{row.displayDate}}</label>
									<label style="width: 120px;font-size: 16px;">{{row.week}}</label>
								</li>
								<br>
								<template v-for="item in row.displayDateTimeList">
									<li style="display: inline-flex;width:100%;border-top: aliceblue 1px solid;margin-top:15px;">
									<span style="padding: 4px 10px 0px 10px;font-size: 15px;display: inline-flex;">
										<i class="icon-caret-right" style="padding-right:10px;"></i>
										{{item.displayDateTime}}
									</span>
									<!-- <img onerror="this.style.display='none'" class="teamIcon" src="{{row.teamLogo}}" style="margin: -7px 10px 0px 0px;"> -->
									<span style="margin-left: 20px;width:100%;" 
										  data-displayDate="{{row.displayDate}}" data-disPlayDateTime="{{item.displayDateTime}}" data-week="{{row.week}}"
									       @dragover="allowDrop" @dragenter="dragenter" @dragleave="dragleave"  @drop="dropPlayerHere">
										
										<template v-for="playerSoloInfo in item.playerSoloInfoList">
										
											<div v-if="playerSoloInfo.playerId" name="weChatTeam" class="HBox" draggable="true" style="height: 35px;" 
												data-id="{{playerSoloInfo.soloWishId}}"
												data-playerId="{{playerSoloInfo.playerId}}" data-teamId="{{playerSoloInfo.teamId}}" data-date="{{playerSoloInfo.date}}"
												data-displayDate="{{playerSoloInfo.displayDate}}" data-disPlayDateTime="{{playerSoloInfo.disPlayDateTime}}" data-week="{{playerSoloInfo.week}}"
												onmouseover="mouseOver(this)" onmouseout="mouseOut(this)"
												@dragstart="dragSoloItem" >
												<span style="width:140px; padding-left:5px;" class="child-elements">
													<div v-if="playerSoloInfo.playerHeadIcon">
														<img onerror="this.style.display='none'" class="headIcon" src="{{playerSoloInfo.playerHeadIcon}}" style="margin: -7px 10px 0px 0px;">
													</div>	
													<label style="width: 130px;text-align: left;">{{playerSoloInfo.playerName}}</label>
												</span>
											<!-- <label class="child-elements" style="width: 80px;text-align: left;padding-right:5px;">{{playerSoloInfo.teamName}}</label> -->
												<label class="child-elements" style="width: 80px;text-align: left;padding-right:30px;">{{playerSoloInfo.cellphone}}</label>
												<label class="child-elements" style="width: 20px;text-align: left;padding-right:0px; color:darkgrey; font-weight:bolder;">{{playerSoloInfo.useTimes}}</label>
												<label class="child-elements" style="width: 20px;text-align: left;padding-right:0px; color:red; font-weight:bolder;">{{playerSoloInfo.absentTimes}}</label>
												<label class="child-elements" style="width: 20px;text-align: left;padding-right:0px; color:green; font-weight:bolder;">{{playerSoloInfo.percent}}</label>
												<div v-if="playerSoloInfo.soloWishId" style="display:inline-flex;float:left; margin-left:25px; ">
													<!-- <a v-on:click="absentBtn" data-id="{{playerSoloInfo.soloWishId}}" class="button button-box button-action button-tiny" style="display:none;margin-left: 5px;">出席</a> -->	
													<a v-on:click="absentBtn" data-id="{{playerSoloInfo.soloWishId}}" data-playerId="{{playerSoloInfo.playerId}}" class="button button-box button-highlight button-tiny" style="display:none;margin-left: 5px;">缺席</a>
													<a v-on:click="removeBtn" data-id="{{playerSoloInfo.soloWishId}}" class="button button-circle button-caution button-tiny" style="display:none;margin-left: 5px;">x</a>
												</div>
											</div>
										</template>
									</span>
									
									</li>
									<br>
								</template>
								<br>
						</template>
					</div>
				</div>	
			</div>
		</section>


		<!-- Page footer
			================================================== -->
		<footer id="main-footer">
			Copyright © 2015 <!-- <a href="http://www.footballer.cc"> -->成都傲赴体育有限公司 
			all rights reserved. <a href="#" class="pull-right" id="on-top-link">
				On Top &nbsp;<i class="icon-chevron-up"></i>
			</a>
		</footer>
		<!-- / Page footer -->
	</section>
	</div>
</body>
<script type="text/javascript">
	(function() {
		var arenaId;
		var amId
		var urlPre ='',iaa='';
		
		var vm = new Vue(
				{
					el : '#app',

					data : {
						soloActiveCustomersList : [],
						soloWishList:[],
						swDayList:[],
						swEveningList:[],
						avaliableFieldsList:[],
						selectedFieldId:null,
						selectedStartTime:null,
						selectedStartTime4Display:null,
						selectedUseDate:null,
						selectedPlayerId:null,
						selectedTargetPlayerId:null,
						selectedBattleWishId:null,
						selectedTargetBattleWishId:null
					},
					watch : {},
					methods : {
						init:function(){
							arenaId = window.localStorage["arenaId"];
							urlPre = window.localStorage["urlPre"]
					 		iaa = window.localStorage["iaa"]

							vm.$data.getSoloActiveCustomersUrl = urlPre+'solo-service/findSoloActiveCustomersOrderByTimes/'+ arenaId +iaa
							vm.$data.getSoloWishListUrl = urlPre+'solo-service/findWeChatSoloWishes/'+ arenaId +iaa
							vm.$data.removeSoloWishUrl = urlPre+'solo-service/removeWeChatSoloWish'+iaa
							vm.$data.getAvaliableListUrl = urlPre+'solo-service/getAvaliableFieldsOfDay'+iaa
							vm.$data.updateSoloWishDateUrl = urlPre+'solo-service/updateSoloWishDate'+iaa
							vm.$data.addSoloWishDateUrl = urlPre+'solo-service/addWeChatSoloWish'+iaa
							vm.$data.recordAbsentSoloWishUrl = urlPre+'solo-service/recordAbsentSoloWish'+iaa
						},
						getSoloActiveCustomers : function() {
							loading();	 
							$.GetJSON(vm.$data.getSoloActiveCustomersUrl, null,function(data) {
								if (data) {
									data.soloActiveCustomersList.forEach(function(item) {
										item.percent = ((item.useTimes-item.absentTimes)/item.useTimes*100).toFixed(1) + '%'
					        		})
									vm.$data.soloActiveCustomersList = data.soloActiveCustomersList
									hideLoading();
								}
							});  						
						},
						getSoloWishList : function() {
							$.GetJSON(vm.$data.getSoloWishListUrl,null,function(data) {
								if (data) {
									vm.$data.soloWishList = data.soloWishList;
									//hideLoading();
									
									var dateArr= []
									var soloWishList = []
									 
									$.each(data.soloWishList, function(i,v){
										dateArr.push(v.displayDate);
									}) 
									dateArr = uniquearr(dateArr);
									
									$.each(dateArr, function(di,dv){
										var timeArr=[];
										var sameDaySolo = _.where(data.soloWishList, {displayDate: dv})
										
										soloWishItem = {}
										soloWishItem.displayDate = dv
										soloWishItem.week =  sameDaySolo[0].week
										
										$.each(sameDaySolo, function(i,v){
											timeArr.push(v.disPlayDateTime)
										})
										timeArr = uniquearr(timeArr);
										var displayDateTimeList = [];
										$.each(timeArr, function(ti,tv){
											var displayDateTimeItem = {}
											displayDateTimeItem.displayDateTime= tv
											
											var sameTimeBattle = _.where(sameDaySolo, {disPlayDateTime: tv})
											var playerSoloInfoList = [];
											$.each(sameTimeBattle, function(stbI,stsV){
												var playerSoloInfo ={}
												playerSoloInfo.soloWishId = stsV.id
												playerSoloInfo.date = stsV.date
												playerSoloInfo.playerId= stsV.playerId
												playerSoloInfo.playerName= stsV.playerName
												playerSoloInfo.playerHeadIcon= stsV.playerHeadIcon
												playerSoloInfo.cellphone= stsV.cellphone
												playerSoloInfo.displayDate= stsV.displayDate
												playerSoloInfo.disPlayDateTime= stsV.disPlayDateTime
												playerSoloInfo.week= stsV.week
												playerSoloInfo.useTimes= stsV.useTimes
												playerSoloInfo.absentTimes= stsV.absentTimes
												playerSoloInfo.percent = ((stsV.useTimes-stsV.absentTimes)/stsV.useTimes*100).toFixed(1) + '%'
												playerSoloInfoList.push(playerSoloInfo)
											})
											
											displayDateTimeItem.playerSoloInfoList = playerSoloInfoList
											displayDateTimeList.push(displayDateTimeItem)
										})
										soloWishItem.displayDateTimeList= displayDateTimeList
										soloWishList.push(soloWishItem)
									}) 
									 
									vm.$data.swDayList = soloWishList
									
									vm.$data.swEveningList = [];
									$.each(soloWishList, function(i,v){
										
										
										soloWishItem = {}
										soloWishItem.displayDate = v.displayDate
										soloWishItem.week =  v.week
										soloWishItem.displayDateTimeList=[]                     
										
										$.each(v.displayDateTimeList, function(index,value){
											if(value.displayDateTime.substring(0,2) >=18){	
												var displayDateTimeItem = {}
												displayDateTimeItem.displayDateTime= value.displayDateTime
												displayDateTimeItem.playerSoloInfoList = value.playerSoloInfoList
												soloWishItem.displayDateTimeList.push(displayDateTimeItem)
											}	
										})
										
										vm.$data.swEveningList.push(soloWishItem)
									});

									//默认为只显示晚上
									vm._data.soloWishList = vm.$data.swEveningList;
								}
							});
							
						},
						showAllday:function(e){
							vm._data.soloWishList = vm.$data.swDayList
						},
						showEvening:function(e){
							vm._data.soloWishList = vm.$data.swEveningList;
						},
						absentBtn: function(e){
							var currentSoloWishId = e.target.getAttribute('data-id')
							var currentPlayerId = e.target.getAttribute('data-playerid')
							var currentBtn = e.target
							var $deleteBtn = $(e.target).next() 
							var currentItem = e.target.parentElement.parentElement
							if(currentSoloWishId){
								var parameter = {
									soloWishId : currentSoloWishId
								}
								$.postJSON(vm.$data.recordAbsentSoloWishUrl, parameter, function(data) {
									if(data.status == 'success'){   		
										vm.updateAbsentOfListByswId(currentSoloWishId,currentPlayerId)
										//$(currentItem).unbind('onmouseover',mouseOver);
										
										$(currentItem).prop('onmouseover',null).off('mouseOver');
										$(currentItem).prop('onmouseout',null).off('mouseOut');
										$(currentItem).prop('draggable',false);
										
										//currentItem.removeEventListener("mouseover", mouseOver, false);
										$(currentItem).css('background-color','#fec04e');
										$(currentBtn).hide();
										$deleteBtn.hide();
									}
					 			});
	
							} 
						},
						removeBtn:function(e){
							//console.log(e);
							var removeSoloWishId = e.target.getAttribute('data-id')
							if(removeSoloWishId){
								var parameter = {
									soloWishId : removeSoloWishId
								}

								//loading();
								$.postJSON(vm.$data.removeSoloWishUrl, parameter, function(data) {
									if(data.status == 'success'){   		
										vm.updateListItemByswId(removeSoloWishId)
									}
					 			});
	
							} 
						},
						//即时从展示列表移除当前数据
						updateListItemByswId: function(removeSoloWishId, newDate, newStartTime){
							playerSoloInfo = {}
							
							//先移除
							$.each(vm.$data.swDayList, function(i,v){
								$.each(v.displayDateTimeList,function(i,v2){
									$.each(v2.playerSoloInfoList,function(i,v3){
										if(v3.soloWishId == removeSoloWishId){
											$.extend(true,playerSoloInfo,v3);//深拷贝便于之后使用
											setAllpropToNull(v3)//clean 
											return false	
										}	
									})
								})
							})
							//有新日期则加上
							if(newDate && newStartTime){
								//全天
								$.each(vm.$data.swDayList, function(i,v){
									if(v.displayDate.toString() == newDate.toString()){
										$.each(v.displayDateTimeList,function(i,v2){
											if(v2.displayDateTime.toString() == newStartTime.toString()){
												v2.playerSoloInfoList.push(playerSoloInfo)	
											}
										})	
									} 
								});
/* 							//晚上							
								$.each(vm.$data.swEveningList, function(i,v){
									$.each(v.displayDateTimeList,function(i,v2){
										$.each(v2.playerSoloInfoList,function(i,v3){
											if(v3.soloWishId == removeSoloWishId){
												$.extend(true,playerSoloInfo,v3);//深拷贝便于之后使用
												setAllpropToNull(v3)//clean
												return false
											}	
										})
									})
								}) 
 								//晚上
								$.each(vm.$data.swEveningList, function(i,v){
									if(v.displayDate.toString() == newDate.toString()){
										$.each(v.displayDateTimeList,function(i,v2){
											if(v2.displayDateTime.toString() == newStartTime.toString()){
												if(_.some(v2.playerSoloInfoList, function(item){ return item.playerId ==  playerSoloInfo.playerId}) ){
													return false;
												}else{
													v2.playerSoloInfoList.push(playerSoloInfo)	
												}
											}
										})	
									} 
								}); */
							}
						},
						updateAbsentOfListByswId :function(currentSoloWishId,currentPlayerId){
							
							//微信列表更新
							$.each(vm.$data.swDayList, function(i,v){
								$.each(v.displayDateTimeList,function(i,v2){
									$.each(v2.playerSoloInfoList,function(i,v3){
										if(v3.soloWishId == currentSoloWishId){
											v3.absentTimes +=1	
											v3.percent = ((v3.useTimes-v3.absentTimes)/v3.useTimes*100).toFixed(1) + '%'
											return false	
										}	
									})
								})
							})
							//常用用户列表更新
							var newPlayer = _.findWhere(vm.$data.soloActiveCustomersList, {playerId: Number(currentPlayerId)});
							newPlayer.absentTimes = newPlayer.absentTimes+1
							newPlayer.percent = ((newPlayer.useTimes-newPlayer.absentTimes)/newPlayer.useTimes*100).toFixed(1) + '%'
							
							//有新日期则加上
							
						},
						getAvaliableList: function(){
							var parameter = {
									arenaId:arenaId,
									startTime:vm.$data.selectedStartTime,
									useDate:vm.$data.selectedUseDate,
									playerId:vm.$data.selectedPlayerId,
									targetPlayerId:vm.$data.selectedTargetPlayerId
								}
							
							$.postJSON(vm.$data.getAvaliableListUrl, parameter,function(data) {
								if (data) {
									vm.$data.avaliableFieldsList = data.avaliableFieldsList
								}
							});  	
						},
						dragSoloItem: function(ev) {
							playerId = ev.target.getAttribute('data-playerid')
							soloWishId = ev.target.getAttribute('data-id')
							ev.dataTransfer.setData("soloWishId", soloWishId);
							ev.dataTransfer.setData("playerId", playerId);
						},
						/*dragSoloItem : function(ev){
						 	playerId = ev.target.getAttribute('data-playerid')
							ev.dataTransfer.setData("type", 'wechatUser');
							ev.dataTransfer.setData("playerId", playerId); 
						},*/
						allowDrop :function(ev) {
							ev.preventDefault();
						},
						dragenter: function(ev){
							ev.preventDefault();
							//只显示父类的拖入提示
							if($(ev.target).is('span')){
								$(ev.target).css('border','dodgerblue 1px dashed')	
							}
							if($(ev.target).is('div')){
								$(ev.target.parentElement).css('border','dodgerblue 1px dashed')	
							}
						},
						dragleave: function(ev){
							ev.preventDefault();
							//只移除父类的拖入提示
							if($(ev.target).is('span')){
								setTimeout(function() { $(ev.target).css('border','none') }, 1000)	
							}
							if($(ev.target).is('div')){
								setTimeout(function() { $(ev.target.parentElement).css('border','none') }, 1000)		
							}
						},
						backendItemDoubleClick:function(e){
							$(e.target).prev().remove()
							$(e.target).remove()							
						},
						//将球员拖入某个时段单飞意愿列表
						dropPlayerHere: function(ev){
							ev.preventDefault();
							ev.stopPropagation()//避免父类冒泡出发拖拽处理函数
							$(ev.target).css('border','none')
							
							var dragFromSoloWishId = ev.dataTransfer.getData("soloWishId");
							var dragFromPlayerId = ev.dataTransfer.getData("playerId");
							var dropArea
							if($(ev.target).is('span')){
								dropArea = $(ev.target).clone()	//拖向子类
							}else if($(ev.target.parentElement).is('span')){
								dropArea = $(ev.target.parentElement).clone() //拖向父类
							}

							vm.$data.selectedStartTime4Display = dropArea.attr('data-displayDateTime')
				    		vm.$data.selectedStartTime = dropArea.attr('data-displayDateTime')+':00'
					    	vm.$data.selectedUseDate = dropArea.attr('data-displayDate')
					    	vm.$data.selectedWeek = dropArea.attr('data-week')	
					    	
							var updateDate = vm.$data.selectedUseDate +' '+ vm.$data.selectedStartTime	
							
							//检查当前拖入的列表中是否已经包含了被拖入的球员
							var tag = false;
							$.each(vm.$data.swDayList, function(i,v){
								if(v.displayDate.toString() == vm.$data.selectedUseDate.toString()){
									$.each(v.displayDateTimeList,function(i,v2){
										if(v2.displayDateTime.toString() == vm.$data.selectedStartTime4Display.toString()){
											
											if(_.some(v2.playerSoloInfoList, function(item){ return item.playerId ==  dragFromPlayerId})   ){
												tag = true;
												return false;
											}else{
																		
											}
										}
									})	
								} 
							});
							if(tag){
								return false;
							}
							
							if(dragFromSoloWishId != 'null'){//微信区域拖动
								var parameter = {
										soloWishId:dragFromSoloWishId,
										date:updateDate
								};

								$.postJSON(vm.$data.updateSoloWishDateUrl, parameter, function(data) {
									if(data.status =='success'){
			    			        	if(dragFromSoloWishId){
											//移除并加入到新的单飞意愿
											vm.updateListItemByswId(dragFromSoloWishId, vm.$data.selectedUseDate, vm.$data.selectedStartTime4Display)						
										}
									}else{
											alert('参数有误');
									}		
								});
							}else{//从常用区域拖动
								var parameter = {
										arenaId:arenaId,
										playerId:dragFromPlayerId,
										date:updateDate
								};

								$.postJSON(vm.$data.addSoloWishDateUrl, parameter, function(data) {
									if(data.status =='success'){
			    			        	
										var newPlayer = _.findWhere(vm.$data.soloActiveCustomersList, {playerId: Number(dragFromPlayerId)});
										newPlayer.soloWishId = data.soloWishId
										
										$.each(vm.$data.swDayList, function(i,v){
											if(v.displayDate.toString() == vm.$data.selectedUseDate.toString()){
												$.each(v.displayDateTimeList,function(i,v2){
													if(v2.displayDateTime.toString() == vm.$data.selectedStartTime4Display.toString()){
														var newWechatPlayer = {}
														$.extend(true,newWechatPlayer,newPlayer);//深拷贝便于之后使用
														v2.playerSoloInfoList.push(newWechatPlayer)
													}
												})	
											} 
										});
									}else{
											alert('参数有误');
									}		
								});
							}
							
							
							
						},
						//直接拖到某个约战意愿列表中的球队上
/* 						dropBattle: function(ev) {
				            ev.preventDefault()
				            ev.stopPropagation()//避免父类冒泡出发拖拽处理函数
				            $(ev.target).css('border','none')
				            
				            var dragFromData,dragFromPlayerId,ItemType,dragToElement
				            var dragToArea = $(ev.target.parentElement).clone()
				            var dragToPlayerId = ev.target.getAttribute('data-playerid')
				    		if(ev.dataTransfer){
				    			dragFromData = ev.dataTransfer
				    		}else if(ev.originalEvent.dataTransfer){
				            	dragFromData = ev.originalEvent.dataTransfer
				            }
				            dragFromPlayerId = dragFromData.getData("playerId");
			    			ItemType = dragFromData.getData("type");//被拖入元素的分类（后台用户，微信用户）
				    		
			    			if(dragFromPlayerId == dragToPlayerId){ //自己和自己不约
				    			return
				    		}
				    		
			    			dragToItemName = ev.target.getAttribute('name')
			    			
				    		if(dragToItemName=='backendTeam'){
				    			dragToElement = $(ev.target).clone()
				    		}
				    		if(dragToItemName=='weChatTeam'){
				    			temp = $(ev.target).clone()
					    		temp.find('a').remove()//展示时移除删除按钮
					    		dragToElement = temp
				    		}
					    		
				    		vm.$data.selectedStartTime = dragToArea.attr('data-displayDateTime')+':00'
					    	vm.$data.selectedUseDate = dragToArea.attr('data-displayDate')
					    	vm.$data.selectedWeek = dragToArea.attr('data-week')	
				    		vm.$data.selectedPlayerId = dragFromPlayerId
				    		vm.$data.selectedTargetPlayerId = dragToPlayerId
				    		vm.$data.selectedsoloWishId = ev.target.getAttribute('data-id')
				    		
				    		wechatItem =$('#wechatSoloWishArea').find("div[data-playerid='"+dragFromPlayerId+"']") 
				    		backendItem = $('#backendBattleUserArea').find("div[data-playerid='"+dragFromPlayerId+"']")
				    		
				    		if(ItemType=='wechatUser'){
				    			if(wechatItem.length ==1){
					    			dragFromElement = wechatItem.clone();		
					    		}else if (wechatItem.length>1)//避免重复取多次
					    		{
					    			dragFromElement = $(wechatItem[0]).clone()
					    		} 
				    		}
				    		if(ItemType=='backendUser'){
				    			dragFromElement = backendItem.clone();
				    		}
				    		
				    		vm.$data.selectedTargetsoloWishId = dragFromElement.attr('data-id')
				    		
				    		//获取当前条件下可用场地列表
				    		vm.getAvaliableList()
				    			
				    		dialog = $( "#dialog-battleConfirm" ).dialog({
				    				closeOnEscape: false,
				    				open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); },//前2行 隐去右侧自带得关闭按钮
				    			    autoOpen: true,
				    			    height: 300,
				    		     	width: 450,
				    			    modal: true,
				    			    buttons: {
				    			    	"取消": function() {
				    			        	form[ 0 ].reset();
				    			        	dialog.dialog( "close" );
				    			        	$('#team1').empty()
				    						$('#team2').empty()
				    			    	},
				    			        "预约约战": function(e){
				    			        	vm.arenaOwnerAddBattleReservation(dialog);
				    			        }
				    			    },
				    			    close: function() {
				    			        form[ 0 ].reset();
				    			    }
				    		});	
				    			
				    		form = dialog.find( "form" ).on( "submit", function( event ) {
				    		      event.preventDefault();
				    		 });
				    			
				    		//"2016-07-16" "星期六" "19:30"
				    		var battleTimeInfo= vm.$data.selectedUseDate +' '+ vm.$data.selectedWeek +' '+ vm.$data.selectedStartTime
				    			
				    		$('#battleTimeInfo').text(battleTimeInfo);
				    		$('#team1').append(dragToElement)
				    		$('#team2').append(dragFromElement)
				    		dialog.dialog( "open" );
				        }, */
				        /* removeDrop: function(ev){
				    		ev.preventDefault();
				    		dragFromElement.remove();
				    	}, */
				        fieldSelectChange : function(e){
				        	if(e.target.value == 0){
				        		return
				        	}else{
				        		vm.$data.selectedFieldId = e.target.value
				        		vm.$data.selectedFcsId = $(e.target).find("option[value='"+e.target.value+"']").attr('id')
				        	}
						},
						arenaOwnerAddBattleReservation : function(dialog) {
							
							if(vm.$data.selectedFieldId == null){
								alert('请选择可用场地')
								return
							}
							
							dragToBattleWishId= vm.$data.selectedBattleWishId
							dragFromBattleWishId=vm.$data.selectedTargetBattleWishId
							
							//console.log('Looks like you made it!');
							dialog.dialog( "close" );
			    			$('#team1').empty()
			    			$('#team2').empty()
							
							var parameter = {
			    					arenaId:arenaId,
									battleWishId:dragToBattleWishId,
									targetBattleWishId:dragFromBattleWishId,
									fieldId:vm.$data.selectedFieldId,
									fcsId:vm.$data.selectedFcsId,
									playerId:vm.$data.selectedPlayerId,
									guestPlayerId:vm.$data.selectedTargetPlayerId,
									useDate:vm.$data.selectedUseDate
								};

								$.postJSON(vm.$data.arenaOwnerAddBattleReservationUrl, parameter, function(data) {
									if(data.status =='success'){
			    						alert('已完成约战场地预定，请到预定页面查看详情');
											
										//移除之前完成约战的 球队的 约战意愿（微信端的意愿）
										if(dragToBattleWishId){
											vm.updateListItemByswId(dragToBattleWishId)	
										}
			    			        	if(dragFromBattleWishId){
											vm.updateListItemByswId(dragFromBattleWishId)	
										}
			    			        	
			    			        	//移除之前完成约战的 处于微信约战意愿区域的（后台约战球队）
			    			        	starttime = vm.$data.selectedStartTime.toString()
			    			        	starttime = starttime.substr(0,starttime.length-3)

			    			        	dragdropspanArea = $('#wechatSoloWishArea').find("span[data-displaydate='"+vm.$data.selectedUseDate+"'][data-displaydatetime='"+starttime+"']")
			    			        	dragdropspanArea.find("div[data-playerid='"+vm.$data.selectedPlayerId+"']").remove()
										dragdropspanArea.find("div[data-playerid='"+vm.$data.selectedTargetPlayerId+"']").remove()
									}else{
										alert('参数有误');
									}		
								});
	
						}
					}
				});

		loginStatusCheck(pageInit);
		 
		function pageInit(){
			loadingInit();
			vm.init()
			vm.getSoloActiveCustomers()
			vm.getSoloWishList()
			hidesomeloadingpart('theme_switcher');
		}

	})()
	
	 
	function mouseOver(e) {
		$(e).css('background', 'aliceblue');
		$(e).find('label').css('font-size', '14px')
		//$(e).find('label').css('color', 'cornflowerblue')
		$(e).find('a').css('display', 'block')

	}

	function mouseOut(e) {
		$(e).css('background', 'transparent');
		$(e).find('label').css('font-size', '13px')
		//$(e).find('label').css('color', 'black')
		$(e).find('a').hide()
	}
	
	
	
</script>
</html>