<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    					   http://www.springframework.org/schema/task 
    	  				   http://www.springframework.org/schema/task/spring-task-4.0.xsd">

<!--  娱乐赛事 开赛提醒及赛后技术互评提醒=================================================================================== -->
<!-- 	<task:scheduled-tasks scheduler="matchTimeRemindScheduler">
	每天从5点到23点，每半小时执行一次任务	
		<task:scheduled ref="matchTimeRemindBean" 
		                method="matchTimePreReminder" 
						cron="0 0/30 5-23 * * ?" />    

	用于测试 每30秒执行一次任务   
     <task:scheduled ref="matchTimeRemindBean" 
                     method="matchTimePreReminder" 
                     cron="0/30 * * * * ?" />    
	
						     
	</task:scheduled-tasks>		
	<task:scheduler id="matchTimeRemindScheduler" pool-size="20"/> -->
	
<!--  正式赛事 开赛提醒及赛后数据和视频发布的查看提醒=================================================================================== -->	
	
<!-- 	<task:scheduled-tasks scheduler="tournamentMatchTimeRemindScheduler">
	每天从5点到23点，每半小时执行一次任务  	
		<task:scheduled ref="tournamentMatchTimeRemindBean" 
		                method="matchTimeReminder" 
						cron="0 0/30 5-23 * * ?" />    
    
	
	用于测试 每30秒执行一次任务     
     <task:scheduled ref="tournamentMatchTimeRemindBean" 
                     method="matchTimeReminder" 
                     cron="0/30 * * * * ?" />    
	
						     
	</task:scheduled-tasks>		
	<task:scheduler id="tournamentMatchTimeRemindScheduler" pool-size="20"/> -->
	
	
<!-- ================================================================== -->
	
<!--  	<task:scheduled-tasks scheduler="heartBeatsScheduler">
		 用于测试 每30秒执行一次任务    
     <task:scheduled ref="heartBeatsBean" 
                     method="heartBeats" 
                     cron="0/30 * * * * ?" />    

 	每4分钟执行一次任务，因为超过5分钟就会出现 skip not validate connection.
	<task:scheduled ref="heartBeatsBean" 
                     method="heartBeats" 
                     cron="0 0/3  * * * ?" />    
	
	</task:scheduled-tasks>
	<task:scheduler id="heartBeatsScheduler" pool-size="10"/>  --> 

<!-- 每周固定场次自动化预定任务================================================================== -->	
	
	<task:scheduled-tasks scheduler="FixedReservationScheduler">
	 <!-- 用于测试 每30秒执行一次任务    
     <task:scheduled ref="fixedReservationAutoJobBean" 
                     method="automationReservation" 
                     cron="0/30 * * * * ?" />   -->   

 	 <!-- 每周五晚上23：00 执行 -->
	<task:scheduled ref="fixedReservationAutoJobBean" 
                     method="automationReservation" 
                     cron="0 0 23 ? * FRI" />     
     
	</task:scheduled-tasks> 
	
	<task:scheduler id="FixedReservationScheduler" pool-size="10"/> 
<!-- ================================================================== -->	


<!-- 每周固定场次自动化预定任务================================================================== -->	
	
	<task:scheduled-tasks scheduler="FetchVideoThumbnailScheduler">
 	 <!-- 每天上午6：00 执行 -->
	<task:scheduled ref="fetchVideoThumbnailTask" 
                     method="fetchVideoThumbnail" 
                     cron="0 0 6 * * *"/>
     
	</task:scheduled-tasks> 
	
	<task:scheduler id="FetchVideoThumbnailScheduler" pool-size="10"/> 
<!-- ================================================================== -->	

</beans>

