<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="../css/frozen.css">
        <style type="text/css">
            body {
                font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
            }
            .small-font {
                font-size: 14px;
            }
            .ui-btn {
            	padding: 0px;
			    height: 30px;
			    line-height: 30px;
			    min-width: 35px;
			    display: inline-block;
			    font-size: 15px;
			}
			.ui-avatar {
				width: 40px;
			    height: 40px;
			    -webkit-border-radius: 200px;
			    overflow: hidden;
			}
        	.ui-header-positive, .ui-footer-positive {
			    background-color: green;
			    color: #fff;
			}
			.icon-text-overflow {
				display: inline-block;
			    max-width: 45px;
			    overflow: hidden;
			    max-height: 77px;
			    text-overflow: ellipsis;
			    word-break: keep-all;
			    white-space: nowrap;
			}
        </style>
    </head>
    <body ontouchstart="">
      <div id="app">
        <header class="ui-header ui-header-positive ui-border-b">
        	<img onerror="this.style.display='none'" src="{{arenaLogoUrl}}" style="float: left;margin: 7px 0px 0px 0px;width: 30px;height: 30px;border-radius: 3px;">
            <h1>{{arenaHeaderTitle}} 本周单飞</h1>
        </header>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="../field/orderField.html"><i style="color:green">预定球场</i></li>
                <li data-href="../order/battlePool2.html"><i style="color:green">约战</i></li>
                <li><i style="color:green">单飞</i></li>
                <li data-href="../order/orders.html"><i style="color:green">订单</i></li>
                <li data-href="../match/football/matchListDashboard.html?lang=ch"><i style="color:#00a5e0">傲赴赛事</i></li>
            </ul>
        </footer>
        <section class="ui-container">
        <section class="ui-selector">
        <div class="ui-flex ui-flex-pack-center">
            <div class="ui-btn-wrap">
            
			    <button v-bind:class="['ui-btn-s', isNight ? 'active' : 'disabled']" v-on:click="evening">
			        晚上
			    </button>
			    <button v-bind:class="['ui-btn-s', !isNight ? 'active' : 'disabled']" v-on:click="allDay">
			        全天
			    </button>
			    
			</div>
		</div>
		
		<div v-if="!cellphone || !teamName">
	        	<div class="ui-form ui-border-t">
				    <form action="#">
				        <div v-if="!cellphone" class="ui-form-item ui-form-item-l ui-border-b">
				            <label class="ui-border-r">
				                中国 +86
				            </label>
				            <input v-model="phone" type="text" placeholder="请输入手机号码, 只需一次填写">
				        </div>
				        
<!-- 				        <div v-if="!teamName" class="ui-form-item ui-form-item-l ui-border-b">
				            <label class="ui-border-r">
				                球队名称:
				            </label>
				            <input v-model="postTeamName" type="text" placeholder="请输入球队名称, 只需一次填写">
				        </div> -->
				    </form>
				</div>
			</div>
		<br v-if="!cellphone || !teamName">
		
  <header class="ui-border-b">
    <!-- <h3>选择日期</h3> -->    
  </header>
  <div class="ui-selector-content">
    <ul>    
      <li v-bind:class="[ui-selector-item, wish.show ? 'active' : '']" class="ui-selector-item" v-for="wish in wishes">      
        <h3 class="ui-border-b" v-on:click="toggle(wish, $event)">
          <p>
          	<span>{{wish.week}}</span>
          </p>
          <span class="ui-txt-info">
          	<span style="color:greenyellow;font-weight: bolder;">{{wish.size}}</span>
			<span>人</span>
          </span>
        </h3>
         <ul class="ui-list ui-border-b">
          <li id="playerByDate-{{player.id}}" v-for="playerByDate in wish.playerByTimeArrays">
          	<ul class="ui-list ui-border-b" style="margin-bottom: 10px;">
          			<div class="HBox" style="background-color: gainsboro;height: 28px;">
          				<span>{{playerByDate.period}}</span>
	          			<span class="ui-txt-info" style="margin-left: 60px;">
	          				<span style="color:green;font-weight: bolder;">{{playerByDate.size}}</span>人报名
	          			</span>
	          			<div v-show="playerByDate.addBtnShow" >
			          		<img data-displayDate="{{wish.displayDate}}" data-displayTime="{{playerByDate.period}}" 
			          		     data-chn="{{wish.weekChn}}"
			          			 src="../image/battleAddIcon.png" width="26px" height="26px" 
			          		     style="margin: -23px 0px 0px 65px;position: absolute;" 
			          		     v-on:click="addWish">
	          			</div>
	          			<!-- {{playerByDate.addBtnShow}} -->
          			</div>
          		
				<li id="player-{{player.id}}" v-for="player in playerByDate.players">
		            <div class="ui-avatar-s" v-show="!player.hide">
		              <span style="background-image: url({{player.playerHeadIcon}})"></span>
		            </div>
		            <div class="ui-list-info ui-border-t" v-show="!player.hide" style="width:80px;">
		            	<h5>{{player.playerName}}</h5>
		            </div>
		            <div class="ui-list-info ui-border-t" v-show="!player.hide" style="">
		            	<label style="color:green;font-size:14px;">{{player.percent}}</label>
		            	<label style="margin: 0px 2px 0px 2px;font-size:8px; font-weight:400">|</label>
		            	<label style="color:darkgrey;font-size:14px;">{{player.useTimes}}</label>
		            	<label style="margin: 0px 2px 0px 2px;font-size:8px; font-weight:400">|</label>
		            	<label style="color:red;font-size:14px;">{{player.absentTimes}}</label>
		            </div>
		            <a v-show="!player.hide && player.owner" style="padding-top: 8px;margin-left: -32px;" 
		               data-show-close="{{!player.hide && player.owner}}" class="ui-icon-close close" 
		               data-player-id="player-{{player.id}}" v-on:click="removeWish(player, $event)"></a>
	          	</li>
          	</ul>

          </li>               
        </ul>

      </li>
    </ul>
  </div>
</section>
 
<div style="text-align: center;margin: 10px 0px 30px 0px">
	<img src="../image/auf_logo_wechat_footer_1000_v1_alpha.png" width="160px" height="20px" >
</div> 
 
        
</section>


		
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>        
<script src="../js/lib/zeptojs/zepto.min.js"></script>
<script src="../js/frozen.js"></script>
<script src="../js/server/service.js"></script>
<script src="../js/sha1.js"></script>
<script src="../../js/justin_common.js"></script>
<script src="../js/lib/vue.min.js"></script>
<script src="../js/lib/underscore-min.js"></script>
<script>
//url = window.location.href
//var url = window.location.href+'?arenaId='+f$.cache('arenaId')



$(document).ready(function() {
        	
        	checkArenaChangeAndUpdateCaches()
        	
    		var vm, 
	    		wishes = [],
	    		list,
	    		//playerId = 1, 
	    		playerId = f$.cache('playerid'), 
	    		openid = f$.cache('openid'),
	    		nickname = f$.cache('nickname'),
	    		teamName = f$.cache('teamName'),
	    		teamId = f$.cache('teamId'),
	    		cellphone = f$.cache('cellphone'),
	    		arenaHeaderTitle = f$.cache('arenaHeaderTitle'),
	    		arenaLogoUrl = f$.cache('arenaLogoUrl'),
	    		headimgurl = f$.cache('headimgurl');
    		
    		
    		if (openid == null || playerId == null || openid == 'null' ||playerId == 'null') {
        		weChatLogin()
        		return false
        	}else{
        		var url = window.location.href
        		var desc= formatToDateString(new Date()) + ' GoGoGo 球星们 单飞报名了'
        		//alert('url: '+url)
        		wxJSSDKInit(url, ' 单飞名单', desc)
        	} 

    		var updatedPhone
    		
    		function valdateMobile(s) {
      			var pattern = /^1\d{10}$/;
      			return pattern.exec(s);
      		}
    	
	    	vm = new Vue({
	    		el   : '#app',
	    		data : {
	    			wishes : wishes,
	    			isNight : true,
	    			phone : null,
	  	            cellphone : cellphone,
	  	          	arenaHeaderTitle : arenaHeaderTitle,
	  	          	postTeamName : null,
	  	          	teamName : teamName,
	  	          	arenaLogoUrl: arenaLogoUrl
	    		},
	    		methods: {
	    			removeWish : function(player, e) {
	    				if (player.playerId != playerId) {
	    					return;
	    				}
	    				var _$wish = _(vm.$data.wishes).find(function(wish) {
	    					return wish.week == player.displayDate + " " + player.week
	    				})
	    					    				
	    				el = $.loading({content:'移除请战...'})
	    				f$.removeSoloWish({
	    					soloWishId : player.id
	    				}).done(function() {
	    					el.loading('hide')
	    					_$wish.size -= 1
	    					loadWishes()
	    				});
	    			},
	    			
	    			addWish : function(e) {
	    				
	    				var currentDisplayDate = e.target.getAttribute('data-displayDate')
	    				var currentDisplayTime = e.target.getAttribute('data-displayTime')
	    				var currentWeekChn = e.target.getAttribute('data-chn')
	    				
	    				
	    					if (!cellphone) {
		    		  	   	   	if (!valdateMobile(vm.$data.phone)) {
		    		  		   	   	alert("请填写真实手机号码，便于场馆方组织联系");
		    		  	   	   		return;
		    		  	   	   	}
	    		  	   	   	
	    		  	   			!updatedPhone && f$.updateAccountPhone({
	    		    	   	 		phone  : vm.$data.phone,
	    		    	   	 		openid : openid
	    		    	   	 	}).done(function(data) {
	    		    	   	 		updatedPhone = true;	    		    	   	 		
	    		    	   	 		cellphone = vm.$data.cellphone = vm.$data.phone
	    		    	   	 		f$.cache('cellphone', vm.$data.phone)
	    		    	   	 		console.log('update phone successfully:', data);
	    		    	   	 	}).fail(function(data) {
	    		    	   	 		console.log('update phone failed:', data);
	    		    	   	 	});
	    		           }
	    					
	    					
	    					
	    				  var _$wish = _(vm.$data.wishes).find(function(wish) {
    							return wish.week == currentDisplayDate + " " + currentWeekChn
		    			  })
			    			el = $.loading({content:'加入请战...'})
			    			f$.addSoloWish({
			    				arenaId  : f$.cache('arenaId'),
			    				//arenaId  : 52,
			    				date     : currentDisplayDate + " " + currentDisplayTime + ":00",
			    				//playerId : 1
			    				playerId: playerId
			    			}).done(function() {
			    				el.loading('hide')
			    				_$wish.size += 1		    	
			    				loadWishes()
			    			}) 	
	    				
	    			},
	    			toggle : function(wish, e) {
	    				wish.show = !wish.show
	    			},
	    			evening:function(){
                        vm.$data.isNight = true
                    	vm.$data.wishes = vm.$data.evevningWishes;
                    },
                    allDay:function(){
                        vm.$data.isNight = false
                        vm.$data.wishes = vm.$data.allWishes;
                    },
	    		}
	    	});
	    	
	    	var loadWishes = function() {
	    		el = $.loading({content:'加载...'})
	    		f$.soloWishes({
	    			//arenaId : 52
	    			arenaId : f$.cache('arenaId')
	    		}).done(function(data) {
	    			el.loading('hide')
	    			list = data.soloWishList || []
	        		list.forEach(function(player) {
	        			player.hide = (player.playerName == null)
	        			player.owner = (player.playerId == playerId)
	        			player.percent = ((player.useTimes-player.absentTimes)/player.useTimes*100).toFixed(1) +"%"
	        		})
	        		
	        		vm.$data.wishes = _(list).chain().groupBy(function(wish) {
	        			return wish.displayDate + " " + wish.week
	        		}).map(function(players, week) {
	        			var size = _(players).filter(function(player) {
	        				player.empty = player.playerName == null
	        				player.period = player.disPlayDateTime.replace(player.displayDate, "")
	        				return player.id != null
	        			}).length
	        			
	        			var displayDate = players[0].displayDate
	        			var week_chn = players[0].week
	        			
	        			var _playerByTime = _(players).groupBy(function(player) {
	        				return player.period
	        			})
	        			var _playerByTimeArray = _(_playerByTime).map(function(players, period) {
	        				return {
	        					players: players,
	        					addBtnShow: !_(players).some(function(player){ //_.some() 只返回true 
	        						if(player.playerId){
	        							return (player.playerId == playerId)
	        						}
	        					}),
	        					period: period,
	        					size: _(players).filter(function(player) {
	    	        				return player.id != null
	    	        			}).length
							}
	        			})
	        			
	        			// loop _playerByTimeArray to set last one
	        			_(_playerByTimeArray).each(function(item) {
	        				var _playersByTime = item.players,
	        					size = _playersByTime.length
	        					
	        				if (size > 0) {
	        					_playersByTime[size - 1].lastOne = true
	        				}	        				
	        			})
	        			
	        			return {displayDate: displayDate,weekChn: week_chn, week: week, playerByTimeArrays: _playerByTimeArray, size: size, show:false}
	        		}).value()

	        		vm.$data.allWishes = vm.$data.wishes;

	        		vm.$data.evevningWishes = _(vm.$data.allWishes).map(function(item) {
	        			var playerByTimeArrays = item.playerByTimeArrays;

	        			var _playersEvevning = _(playerByTimeArrays).filter(function(item) {
	        				var isNight = parseInt(item.period, 10) >= 18
	        				item.isNight = isNight

	        				return isNight;
	        			})

	        			return {displayDate: item.displayDate,weekChn: item.weekChn, week: item.week, playerByTimeArrays: _playersEvevning, size: item.size, show: item.show}
	        		})

	        		vm.$data.wishes = vm.$data.evevningWishes;
	        		
	        		if (vm.$data.wishes.length > 0 ) {
	        			vm.$data.wishes[0].show = true	
	        		}
	        		
	        		if (vm.$data.allWishes.length > 0 ) {
	        			vm.$data.allWishes[0].show = true	
	        		}
	    			//vm.$log()
	    		})	
	    	}
	    	
    		loadWishes();
    		
    		$('.ui-list li,.ui-tiled li').click(function(){
    			if($(this).data('href')){
                	if($(this).data('href').indexOf('match')>0){
                		location.href= $(this).data('href')                        		
                	}else{
                		location.href= $(this).data('href')+'?arenaId='+f$.cache('arenaId')	
                	}
                }
    		});        	
        });
          
</script>
    </body>
</html>