<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title></title>
        <link rel="stylesheet" href="../../css/frozen.css">
        <link rel="stylesheet" href="../../css/drawer.min.css">
        <link rel="stylesheet" href="../../css/match.css">
        <link rel="stylesheet" href="../../../css/justin_mobile_common.css">
        
        <style>
        	.ui-btn-primary {
        		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#25b359),to(#25b359));
        	}
        	
        </style>
    </head>
    
<body class="drawer drawer--left">
	
	<div class="ui-loading-block show">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	        <p>loading...</p>
	    </div>
	</div>

	<div id="app" v-cloak>
    	<header class="ui-header ui-header-positive ui-border-b">
    	    <i class="ui-icon-return" onclick="historyBack('football')"></i>    	
    		<center>赛程设置</center>
            <button id="langBtn" class="ui-btn" v-on:click="toggleLanguage">{{changeToLang}}</button>	
        </header>
        
       <section class="ui-container">
       
			<ul class="ui-row-flex ui-border-t f-datagrid" style="background-color: white;" >
				<li class="ui-col ui-col-2 ui-align-center ">
					<img src="{{tournament.tournamentLogo}}" style="width:105%; height:100%;">
				</li>
			    <li class="ui-col ui-col-3 ui-ver" style="padding: 5px;">
			    	<div class="ui-nowrap" style="margin-top: 16px;">
			    		<span class="fs18"><b>{{tournament.tournamentName}}</b></span>
			    	</div>
			    	<div>
			    		<span class="fs12" style="color: darkgrey;">{{lableDate}}: &nbsp;{{tournament.tournamentDate}}</span>
			    	</div>
			    	<div>
			    		<span class="fs14"><b style="color:deepskyblue;">{{totalTeams}}</b>&nbsp;<i>{{labelTeams}}</i></span>
			    		<span class="fs14"><b style="color:green">{{totalPlayers}}</b>&nbsp;<i>{{labelPlayers}}</i></span>
			    	</div>
			    	<div><img src="{{tournament.tournamentOrgLogo}}" style="width:33.13px; height:20.19px; float: left;"><span class="fs12 pl5">{{tournamentOrgName}}</span></div>
			    </li>
			</ul>
			
		 <!-- 已有赛事 -->
		  <div class="ui-form-item ui-form-item-switch">
		            <p>
		                已有赛事
		            </p>
		        </div>
		 <ul v-for="t in tournamentMatchScheduleList" class="ui-list ui-list-link ui-border-tb">
		    <li v-on:click="selectMatchScedule(t.id, $event)">
		        <div class="ui-avatar">
		            <span style="background-image:url(loop.png)"></span>
		        </div>
		        <div class="ui-list-info ui-border-t">
		            <h4 class="ui-nowrap">{{t.name}}</h4>
		            <p class="ui-nowrap">{{t.matchScheduleType}}, {{t.leagueSetting}}</p>
		        </div>
		    </li>
		</ul>  
		
		<br>
       
       	 <div class="ui-form ui-border-t">
		    <form action="#">
		        <div class="ui-form-item ui-form-item-switch">
		            <p>
		                赛程设置管理
		            </p>
		            <label class="ui-switch">
	                	<input type="checkbox" v-model="isManageSchedule">
	            	</label>
		        </div>
		        <ul class="ui-list ui-list-text ui-list-radio ui-border-tb" v-show="isManageSchedule">
					    <li class="ui-border-t">
					        <label class="ui-radio" for="radio">
					            <input type="radio" name="scheduleType" value="league" v-model="scheduleType" checked>
					        </label>
					        <p>联赛</p>
					    </li>
					    <li class="ui-border-t">
					        <label class="ui-radio" for="radio">
					            <input type="radio" name="scheduleType" value="tournament" v-model="scheduleType">
					        </label>
					        <p>杯赛</p>
					    </li>
					</ul>
				
				<div v-show="isManageSchedule && scheduleType == 'league'">	
					<div class="ui-form-item ui-form-item-switch">
			            <p>
			                联赛设置
			            </p>
			        </div>	
		        	<ul class="ui-list ui-list-text ui-list-radio ui-border-tb">
					    <li class="ui-border-t">
					        <label class="ui-radio" for="radio">
					            <input type="radio" name="roundType" value="single" checked v-model="roundType">
					        </label>
					        <p>单循环</p>
					    </li>
					    <li class="ui-border-t">
					        <label class="ui-radio" for="radio">
					            <input type="radio" name="roundType" value="double" v-model="roundType">
					        </label>
					        <p>双循环</p>
					    </li>
					  </ul>
				  </div>
		    </form>
		</div>
	   </section>
		
		<div v-show="isManageSchedule" v-on:click="createEvent" class="ui-btn-wrap">
		    <button class="ui-btn-lg ui-btn-primary" v-on:click="createSchedule">
		        生成赛程
		    </button>
		</div>

		<div style="text-align: center;margin: 10px 0px 30px 0px" onclick="aufFooterRedirect()">
			<img src="../../image/auf_logo_wechat_footer_1000_v1_alpha.png" width="160px" height="20px" >
		</div>
	
	</div>

<script src="../../../i18n/env.js"></script>
<script src="../../../js/jquery-1.11.2.min.js" type="text/javascript"></script>  
<script src="../../js/lib/zeptojs/zepto.min.js"></script>
<script src="../../js/frozen.js"></script>
<script src="../../js/server/service.js"></script>
<script src="../../../js/justin_common.js"></script>
<script src="../../js/lib/vue.min.js"></script>
<script src="../../js/lib/underscore-min.js"></script>
<script src="../../../js/jquery.i18n.properties-min-1.2.2.js" type="text/javascript" ></script>
<script src="../../js/iscroll.min.js"></script>
<script src="../../js/drawer.min.js"></script>

<script>

h5Init()

$(document).ready(function() {
	
    		var vm,
			lang = f$.cache('lang'),
			tournamentId = getParameter(window.location.href ,"tournamentId"),
	    	urlLang = getParameter(window.location.href ,"lang") 
	    	if(urlLang){
	    		lang = urlLang
	    		f$.cache('lang', urlLang)
	    	}
    		
	    	vm = new Vue({
	    		el   : '#app',
	    		data : {
	    			domain:'',
	    			suffix:'',
	    			changeToLang:'',
	    			title_register:'loading',
	    			scheduleType : 'league',
	    			roundType : 'single',
	    			totalTeams:'',
	    			totalPlayers:'',
	    			tournament : {
	    				tournamentName : '',
	    				tournamentLogo : '',
	    				tournamentDate : '',
	    				tournamentOrgName : '',
	    				tournamentOrgLogo : ''
	    			},
	    			tournamentMatchScheduleList : [],
	    			labelTeams:'',
    		    	labelPlayers:'',
    		    	lableDate:'',
    		    	isManageSchedule : false
	    		},
	    		methods: {
	    			init:function() {
	    				vm.$data.domain =  GLOBAL_VAR_DOMAIN;
				        vm.$data.suffix = GLOBAL_VAR_SUFFIX;
				        
				        if(lang == 'ch'){
	    					vm.$data.changeToLang = 'Eng'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = '中文'
				        }
				        vm.langI18n(lang)
				        
				        vm.$data.loggedUserAvatar = f$.cache('uesr_current_peopleImgUrl');
				        vm.loadData();
 	    				$('title').text(vm.$data.labelTournaments)
	    			},
	    			toggleLanguage : function(){
	    				if(lang == 'ch'){
	    					vm.$data.changeToLang = '中文'
				        	lang = 'en'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = 'Eng'
				        	lang = 'ch'
				        }
	    				vm.langI18n(lang)
	    			},
	    			langI18n : function(lang){
	    				$.i18n.properties({// 加载中文properties文件  
	    	    		    name:'lan', // properties文件名称  
	    	    		    path:'../../../i18n/', // properties文件路径  
	    	    		    mode:'map', // 用 Map 的方式使用资源文件中的值
	    	    		    language:lang,
	    	    		    checkAvailableLanguages: true,
	    	    		    callback: function() {// 加载成功后设置显示内容  
	    	    		    	vm.$data.title_register =  $.i18n.prop('title_register');
	    	    		    	vm.$data.labelTournamentInfo =  $.i18n.prop('tournamentInfo');
	    	    		    	vm.$data.labelTeams =  $.i18n.prop('teams');
	    	    		    	vm.$data.labelPlayers =  $.i18n.prop('players');
	    	    		    	vm.$data.lableDate = $.i18n.prop('date');
	    	    		    }
	    	    		});
	    			},
	    			loadData : function() {
	    				//TODO: add test code
	    				var currentPlayer = f$.cacheObj('currentPlayer') || {id : 1}
	    				f$.loadTournamentBaseInfo(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    					vm.$data.tournament.tournamentName = data.tournamentBaseInfo.name
	    					vm.$data.tournament.tournamentLogo = 'http://static.footballer.cc/'+ data.tournamentBaseInfo.logo
	    					vm.$data.tournament.tournamentDate = data.tournamentBaseInfo.displayStartDate.substr(0,10)   + '   -   ' + data.tournamentBaseInfo.displayEndDate.substr(0,10)  
	    					vm.$data.tournament.tournamentOrgName = data.tournamentBaseInfo.mainOrganiserName
	    					vm.$data.tournament.tournamentOrgLogo = 'http://static.footballer.cc/'+data.tournamentBaseInfo.mainOrganiserLogo
	    					
	    					
	    	    		})
	    	    		
	    	    		f$.findMatchScheduleByTournamentId(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    	    			vm.$data.tournamentMatchScheduleList = data.list
	    	    			$('.ui-loading-block').removeClass("show");
	    	    			vm.$log()
	    	    		})
	    				
	    			},
	    			
	    			// TODO: 生成后跳转到新的赛程
	    			createSchedule : function() {
	    				$('.ui-loading-block').addClass("show");
	    				
	    				//TODO : test code
	    				var tournamentId = getParameter(window.location.href ,"tournamentId") || 1
	    				
	    				var param = {
	    				    tournamentId : tournamentId,
	    				    matchScheduleType : this.scheduleType,
	    				    leagueSetting : this.roundType
	    				}
	    				
	    				
	    				// TODO: 返回新的赛程id
	    				f$.createTournamentSchedule(vm.$data.domain,vm.$data.suffix, param).done(function() {
	    					$('.ui-loading-block').removeClass("show");
	    					
	    					var navigateParams = tournamentId + '&lang='+f$.cache('lang')
	                    	var mobilePath = vm.$data.domain + 'footballer/mobile/match/'
	                    	
	                    	location.href = mobilePath + 'schedule/leagueScheduleMatchDayList.html?tournamentId='+ navigateParams
	    				})
	    			},
	    			selectMatchScedule : function(matchScheduleId) {
	    				var navigateParams = tournamentId + '&lang=' + f$.cache('lang') + '&matchScheduleId=' + matchScheduleId
                    	var mobilePath = vm.$data.domain + 'footballer/mobile/match/'
                    	
                    	location.href = mobilePath + 'schedule/leagueScheduleMatchDayList.html?tournamentId='+ navigateParams
	    			}
	    		}
	    	});
	    	
   vm.init();
});
          
</script>
    </body>
</html>