<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title></title>
        <link rel="stylesheet" href="../../css/frozen.css">
        <link rel="stylesheet" href="../../css/drawer.min.css">
        <link rel="stylesheet" href="../../css/match.css">
        <link rel="stylesheet" href="../../css/weui.min.css">
        <link rel="stylesheet" href="../../../css/justin_mobile_common.css">
        
        <style>
        	.ui-btn-primary {
        		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#25b359),to(#25b359));
        	}
        	
        	.numberCircle {
        	  background: #e5e6e7;
			  border-radius: 0.8em;
			  -moz-border-radius: 0.8em;
			  -webkit-border-radius: 0.8em;
			  color: #ffffff;
			  display: inline-block;
			  font-weight: bold;
			  line-height: 1.6em;
			  margin-right: 15px;
			  text-align: center;
			  width: 1.6em;
			}
        	
        </style>
    </head>
    
<body class="drawer drawer--left">
	
	<div class="ui-loading-block show">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	        <p>loading...</p>
	    </div>
	</div>

	<div id="app" v-cloak>
    	<header class="ui-header ui-header-positive ui-border-b">
     	    <i class="ui-icon-return" onclick="historyBack('football')"></i>   	
    		<center>{{schedule_league_edit}}</center>
            <button id="langBtn" class="ui-btn" v-on:click="toggleLanguage">{{changeToLang}}</button>	
        </header>
        
       <section class="ui-container">
       	 <ul class="ui-row-flex ui-border-t f-datagrid" style="background-color: white;" >
				<li class="ui-col ui-col-2 ui-align-center ">
					<img v-bind:src="tournament.tournamentLogo" style="width:105%; height:100%;">
				</li>
			    <li class="ui-col ui-col-3 ui-ver" style="padding: 5px;">
			    	<div class="ui-nowrap" style="margin-top: 16px;">
			    		<span class="fs18"><b>{{tournament.tournamentName}}</b></span>
			    	</div>
			    	<div>
			    		<span class="fs12" style="color: darkgrey;">{{lableDate}}: &nbsp;{{tournament.tournamentDate}}</span>
			    	</div>
			    	<div>
			    		<span class="fs14"><i>{{schedule_match_round}}: </i><b style="color:deepskyblue;">{{roundNumber}}</b></span>,
			    		<span class="fs14"><b style="color:green">{{matchList.length}}</b>&nbsp;<i>Match(es)</i></span>
			    	</div>
			    	<div><img v-bind:src="tournament.tournamentOrgLogo" style="width:33.13px; height:20.19px; float: left;"><span class="fs12 pl5">{{tournamentOrgName}}</span></div>
			    </li>
			</ul>
		  
		  <div class="divInLine"
					style="background: white; margin: 2px 5px 2px 5px; height: 25px; width: 97%;">
					<button class="ui-btn-s" v-on:click="preRoundBtn" name="team"
						style="width: 20px;">
						<i class="ui-icon-prev"
							style="font-size: 16px; margin-top: -10px;"></i>
					</button>
					
					<div style="margin: auto;">
						<span>{{schedule_match_match}} : </span><span id="topRoundNumber" style="background: #64bd63" class="numberCircle"> {{currentIndex + 1}}</span>
					</div>
					

					<button class="ui-btn-s" v-on:click="nextRoundBtn" name="team"
						style="width: 20px;">
						<i class="ui-icon-next"
							style="font-size: 16px; margin-top: -10px;"></i>
					</button>
				</div>
		 <br>
		 <br> 	
         <div class="ui-form">
		    <form action="#">

		        
		        <ul id="scheduleMatchDayList"
					class="ui-row-flex ui-list-text border-list" >
					<li class="ui-col ui-border-t ui-flex-var ui-flex-pack-end"
						style="width: 30%; text-align: center; padding: 5px 0px 5px 0px; ">
						<div v-if="matchItem.hostTeamLogo" class="ui-list-thumb" style="margin: auto;">
							<img v-bind:src="matchItem.hostTeamLogo"
								style="margin: auto; width: 100%; height: 100%;">
						</div>
						<div v-else class="ui-list-thumb" style="margin: auto;">
							<img src="match.png"
								style="margin: auto; width: 100%; height: 100%;">
						</div>
						<div v-if="matchItem.hostTeamLabel" class="font_long_ellipsis">
							<span style="font-size: 12px;">{{matchItem.hostTeamLabel}}</span>
						</div>
						<div v-else class="font_long_ellipsis">
							<span style="font-size: 12px;">{{schedule_no_opponent}}</span>
						</div>
					</li>
					<li class="ui-col ui-flex-pack-center"
						style="width: 40%; text-align: center; padding: 5px 0px 5px 0px">
						<div style="display: inline-flex;">
							<span
								style="margin-top: 15px; font-size: 16px; background-color: darkseagreen; width: 5rem; display: inline-table; color: white;">
								vs </span>
						</div>

					</li>
					<li class="ui-col ui-flex-ver ui-flex-pack-end"
						style="width: 30%; text-align: center; padding: 5px 0px 5px 0px">
						<div v-if="matchItem.guestTeamLogo" class="ui-list-thumb" style="margin: auto;">
							<img v-bind:src="matchItem.guestTeamLogo"
								style="width: 100%; height: 100%;">
						</div>
						<div v-else class="ui-list-thumb" style="margin: auto;">
							<img src="match.png"
								style="margin: auto; width: 50px; height: 50px;">
						</div>
						<div v-if="matchItem.guestTeamLabel" class="font_long_ellipsis">
							<span style="font-size: 12px;">{{matchItem.guestTeamLabel}}</span>
						</div>
						<div v-else class="font_long_ellipsis">
							<span style="font-size: 12px;">{{schedule_no_opponent}}</span>
						</div>
					</li>
				</ul>
				
				<div class="ui-form ui-border-t">
				    <form action="#">
				    
				    	<div class="ui-form-item ui-border-b">
				            <label>
				                {{schedule_match_score}}
				            </label>
				            <input id="score" type="text" v-model="score" v-on:click="selectScore">
				            <a href="#" class="ui-icon-close">
				            </a>
				        </div>
				        
				        <div class="ui-form-item ui-border-b">
				            <label>
				                {{schedule_match_date}}
				            </label>
				            <input id="startDate" type="text" v-model="startDate" v-on:click="selectStartDate">
				            <a href="#" class="ui-icon-close">
				            </a>
				        </div>
				        
				        <div class="ui-form-item ui-border-b">
				            <label>
				                {{schedule_match_areana}}
				            </label>
				            <input type="text" id="field" v-model="field">
				            <a href="#" class="ui-icon-close">
				            </a>
				        </div>
				        

				    </form>
				</div>
				
				<ul class="roundFooter" style="text-align: center">
				    <li style="display: inline-block" v-for="i in matchList" v-on:click="clickRoundFooter($index)">
						<span class="numberCircle">{{$index + 1}}</span>
					</li>
				</il>

		    </form>
		</div>
	   </section>
	   
	   <div v-on:click="createEvent" class="ui-btn-wrap">
		    <button class="ui-btn-lg ui-btn-primary" v-on:click="startMatch">
		     {{schedule_match_save}}
		    </button>
		</div>	

		<div style="text-align: center;margin: 10px 0px 30px 0px" onclick="aufFooterRedirect()">
			<img src="../../image/auf_logo_wechat_footer_1000_v1_alpha.png" width="160px" height="20px" >
		</div>
	
	</div>

<script src="../../../i18n/env.js"></script>
<script src="../../../js/jquery-1.11.2.min.js" type="text/javascript"></script>  
<script src="../../js/lib/zeptojs/zepto.min.js"></script>
<script src="../../js/frozen.js"></script>
<script src="../../js/server/service.js"></script>
<script src="../../../js/justin_common.js"></script>
<script src="../../js/lib/vue.min.js"></script>
<script src="../../js/lib/underscore-min.js"></script>
<script src="../../../js/jquery.i18n.properties-min-1.2.2.js" type="text/javascript" ></script>
<script src="../../js/iscroll.min.js"></script>
<script src="../../js/drawer.min.js"></script>
<!--  
<script src="../../js/weui.min.js"></script>
-->
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>

<script src="../../js/lib/anime.min.js"></script>


<script type="text/javascript" charset="utf-8">
h5Init()

$(document).ready(function() {
	
    		var vm,
				lang = f$.cache('lang'),
		    	tournamentId = getParameter(window.location.href ,"tournamentId"),
		    	roundSize = getParameter(window.location.href ,"roundSize"),
		    	currentIndex = getParameter(window.location.href ,"currentIndex"),
		    	roundNumber = getParameter(window.location.href ,"roundNumber"),
		    	urlLang = getParameter(window.location.href ,"lang"),
		    	scoreFun = function(max) {
    				var scoreList = []
    				for (var i=0; i<max; i++) {
    					scoreList.push({
    						label : i,
    						value : i
    					})		
    				}
    				return scoreList
    			},
    			maxScoreList = scoreFun(30)
		    	
	    	
	    	if(urlLang){
	    		lang = urlLang
	    		f$.cache('lang', urlLang)
	    	}
    		
	    	vm = new Vue({
	    		el   : '#app',
	    		data : {
	    			domain:'',
	    			suffix:'',
	    			changeToLang:'',
	    			title_register:'loading',
	    			isStartMatch : false,
	    			matchItem : null,
	    			tournament : {
	    				tournamentName : '',
	    				tournamentLogo : '',
	    				tournamentDate : '',
	    				tournamentOrgName : '',
	    				tournamentOrgLogo : ''
	    			},
	    			labelTeams:'',
    		    	labelPlayers:'',
    		    	lableDate:'',
    		    	roundSize : null,
    		    	currentIndex : null,
    		    	roundNumber : null,
    		    	matchList : [],
    		    	startDate : null,
    		    	endDate : null,
    		    	field : null,
    		    	score : '0 : 0',
    		    	
    		    	//label
    		    	schedule_match_match  : '',
    		    	schedule_match_round  : '',
    		    	schedule_league_edit  : '',
    		    	schedule_no_opponent  : '',
    		    	schedule_match_score  : '',
    		    	schedule_match_date   : '',
    		    	schedule_match_areana : '',
    		    	schedule_match_save   : ''
	    		},
	    		methods: {
	    			init:function() {
	    				vm.$data.domain =  GLOBAL_VAR_DOMAIN;
				        vm.$data.suffix = GLOBAL_VAR_SUFFIX;
				        
				        if(lang == 'ch'){
	    					vm.$data.changeToLang = 'Eng'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = '中文'
				        }
				        vm.langI18n(lang)
				        
				        vm.$data.loggedUserAvatar = f$.cache('uesr_current_peopleImgUrl');
				        vm.loadData();
 	    				$('title').text(vm.$data.labelTournaments)
	    			},
	    			toggleLanguage : function(){
	    				if(lang == 'ch'){
	    					vm.$data.changeToLang = '中文'
				        	lang = 'en'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = 'Eng'
				        	lang = 'ch'
				        }
	    				vm.langI18n(lang)
	    			},
	    			langI18n : function(lang){
	    				$.i18n.properties({// 加载中文properties文件  
	    	    		    name:'lan', // properties文件名称  
	    	    		    path:'../../../i18n/', // properties文件路径  
	    	    		    mode:'map', // 用 Map 的方式使用资源文件中的值
	    	    		    language:lang,
	    	    		    checkAvailableLanguages: true,
	    	    		    callback: function() {// 加载成功后设置显示内容  
	    	    		    	vm.$data.title_register =  $.i18n.prop('title_register');
	    	    		    	vm.$data.labelTournamentInfo =  $.i18n.prop('tournamentInfo');
	    	    		    	vm.$data.labelTeams =  $.i18n.prop('teams');
	    	    		    	vm.$data.labelPlayers =  $.i18n.prop('players');
	    	    		    	vm.$data.lableDate = $.i18n.prop('date');
	    	    		    	vm.$data.schedule_match_match = $.i18n.prop('schedule_match_match')
	    	    		    	vm.$data.schedule_match_round = $.i18n.prop('schedule_match_round')
	    	    		    	vm.$data.schedule_league_edit = $.i18n.prop('schedule_league_edit')
	    	    		    	vm.$data.schedule_no_opponent = $.i18n.prop('schedule_no_opponent')
	    	    		    	vm.$data.schedule_match_score = $.i18n.prop('schedule_match_score')
	    	    		    	vm.$data.schedule_match_date  = $.i18n.prop('schedule_match_date')
	    	    		    	vm.$data.schedule_match_areana  = $.i18n.prop('schedule_match_areana')
	    	    		    	vm.$data.schedule_match_save  = $.i18n.prop('schedule_match_save')
	    	    		    }
	    	    		});
	    			},
	    			loadData : function() {
	    				//TODO: add test code
	    				var currentPlayer = f$.cacheObj('currentPlayer') || {id : 1}
	    				
	    			    f$.loadTournamentBaseInfo(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    					vm.$data.tournament.tournamentName = data.tournamentBaseInfo.name
	    					vm.$data.tournament.tournamentLogo = 'http://static.footballer.cc/'+ data.tournamentBaseInfo.logo
	    					vm.$data.tournament.tournamentDate = data.tournamentBaseInfo.displayStartDate.substr(0,10)   + '   -   ' + data.tournamentBaseInfo.displayEndDate.substr(0,10)  
	    					vm.$data.tournament.tournamentOrgName = data.tournamentBaseInfo.mainOrganiserName
	    					vm.$data.tournament.tournamentOrgLogo = 'http://static.footballer.cc/'+data.tournamentBaseInfo.mainOrganiserLogo
	    					vm.$data.roundSize = roundSize
	    					vm.$data.roundNumber = roundNumber
	    					vm.$data.currentIndex = parseInt(currentIndex, 10)
	    					
	    					vm.$data.matchList = JSON.parse(f$.cacheObj('matchList'))
	    					
	    					_(vm.$data.matchList).each(function(matchItem) {
	    						if (matchItem.hostTeamLogo) {
	    							matchItem.hostTeamLogo = 'http://static.footballer.cc/' + matchItem.hostTeamLogo
	    						}
	    						if (matchItem.guestTeamLogo) {
	    							matchItem.guestTeamLogo = 'http://static.footballer.cc/' + matchItem.guestTeamLogo
	    						}
	    					})
	    					
	    					vm.$data.matchItem = vm.$data.matchList[vm.$data.currentIndex]
	    					
	    					Vue.nextTick(function() {
	    						var $this = $('.roundFooter').find('li span')[vm.$data.currentIndex] 
	    						$this.style.background = '#64bd63';
	    						setTimeout(function() {
	    							anime({
		    							targets : '#topRoundNumber',
		    							background : '#64bd63',
		    							//'line-height' : '2.0em',
		    							//width : '2.0em',
		    							rotate: {
		    							    value: 360,
		    							    duration: 500,
		    							    easing: 'linear'
		    						    }
		    						})
	    						}, 233)
	    						
	    						var reverseAnim = anime({
	        						targets : '#scheduleMatchDayList',
	        						translateX: 250,
	        						duration: 550
	        					})
	        					reverseAnim.play();
	    						reverseAnim.reverse();
	    					})
	    					
	    					$('.ui-loading-block').removeClass("show");
	    	    		})
	    				
	    			},
	    			clickMatch : function() {
	    				//TODO : test code
	    				var tournamentId = getParameter(window.location.href ,"tournamentId") || 1
	    				var navigateParams = tournamentId + '&lang='+f$.cache('lang')
                    	var mobilePath = vm.$data.domain + 'footballer/mobile/match/'
                    	
                    	location.href = mobilePath + 'schedule/leagueScheduleMatchEdit.html?tournamentId='+ navigateParams
	    			},
	    			selectScore : function() {
	    				weui.picker(maxScoreList, maxScoreList, {
	    				             defaultValue: ['0', '0'],
	    				             onChange: function (result) {
	    				                 console.log(result);
	    				             },
	    				             onConfirm: function (result) {
	    				                 vm.$data.score = result[0] + ' : ' + result[1]
	    				             },
	    				             id: 'score'
	    				         })
	    			},
	    			selectStartDate : function() {
	    				weui.datePicker({
	    				    start: new Date(),
	    				    end: 2020,
	    				    onConfirm: function(result){
	    				        console.log(result);
	    				        var value = result[0].value + '-' + result[1].value + '-' + result[2].value
	    				        vm.$data.startDate = value
	    				    },
	    				    id: 'startDate'
	    				});
	    			},
	    			selectEndDate : function() {
	    				weui.datePicker({
	    				    start: new Date(),
	    				    end: 2020,
	    				    onConfirm: function(result){
	    				    	var value = result[0].value + '-' + result[1].value + '-' + result[2].value
	    				        vm.$data.endDate = value
	    				    },
	    				    id: 'endDate'
	    				});
	    			},

		    		startMatch : function() {
		    			vm.$data.isStartMatch = true
		    			if (vm.$data.startDate == null || vm.$data.field == null || vm.$data.score == null) {
		    				weui.topTips('Fill in all fields!', 3000)
		    				return
		    			}
		    			$('.ui-loading-block').addClass("show")
		    			f$.updateTournamentMatchById(vm.$data.domain,vm.$data.suffix, {
		    				id         : vm.$data.matchItem.id,
		    				startDate  : vm.$data.startDate + ":00:00",
		    				areana     : vm.$data.field
		    			}).done(function() {
		    				weui.toast('Success!', 3000);
		    				$('.ui-loading-block').removeClass("show")
		    			})
		    		},
		    		
		    		preRoundBtn : function() {
	    				var length = vm.$data.matchList.length
	    				    currentIndex = vm.$data.currentIndex - 1,
	    					index = currentIndex < 0 ? length - 1 : currentIndex
	    						
	    				this.clickRoundFooter(index)
	    			},
	    			nextRoundBtn : function() {
	    				var length = vm.$data.matchList.length
    				    	currentIndex = (vm.$data.currentIndex + 1) % length
	    				this.clickRoundFooter(currentIndex)
	    			},
	    			clickRoundFooter : function(index) {
    					var matchItem = vm.$data.matchList[index]
    					vm.$data.matchItem = vm.$data.matchList[index]
    					vm.$data.currentIndex = index
    					
    					//var span = $('.roundFooter').find('li span')[index]
    					
    					Vue.nextTick(function() {
    						var reverseAnim = anime({
        						targets : '#scheduleMatchDayList',
        						translateX: 250,
        						duration: 550
        					})
        					reverseAnim.play();
    						reverseAnim.reverse();
    						
    					})
    					
    					$('#topRoundNumber')[0].style.transform = "none";
    					
    					//var $topRoundNumber = $('#topRoundNumber')
    					var $roundFooter = $('.roundFooter').find('li span'),
    					    $selectedRound = $roundFooter[index + 1]
    					
    					$roundFooter.css({
    						background : '#e5e6e7'
    					})
    					$roundFooter[index].style.background = '#64bd63'
    					
    					anime({
							targets : '#topRoundNumber',
							background : '#64bd63',
							//'line-height' : '2.0em',
							//width : '2.0em',
							rotate: {
							    value: 360,
							    duration: 400,
							    easing: 'linear'
						    }
						})
	    			}
	    		}
	    		
	    		
	    	});
	    	
   vm.init();
});
          
</script>
    </body>
</html>