<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FootballPlayer" >

  <resultMap id="Player" type="com.footballer.rest.api.v2.vo.FootballPlayer" >
   	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="addressId" property="addressId" jdbcType="INTEGER"/>
    <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
    <result column="deviceToken" property="deviceToken" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="Account" type="com.footballer.rest.api.v2.vo.Account" >
   	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="cellphone" property="cellphone" jdbcType="INTEGER" />
    <result column="weChatNo" property="weChatNo" jdbcType="VARCHAR" />
    <result column="weChatOpenId" property="weChatOpenId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ArenaMemberDiscount" type="com.footballer.rest.api.v2.vo.UserToken" >
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="expireDate" property="expireDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <resultMap id="ArenaResult" type="com.footballer.rest.api.v2.vo.Arena" >
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="addressName" property="addressName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="TournamentBaseInfoResult" type="com.footballer.rest.api.v2.vo.Tournament" >
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <resultMap id="ArenaOwner" type="com.footballer.rest.api.v2.vo.ArenaOwner" >
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="arena_id" property="arenaId" jdbcType="INTEGER" />
    <result column="player_id" property="playerId" jdbcType="INTEGER" />
    <result column="wechat_openid" property="openId" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="PlayerWithTeamsInfo" type="com.footballer.rest.api.v2.domain.PlayerWithTeamsInfo" >
    <result column="playerId" property="playerId" jdbcType="INTEGER" />
    <result column="playerName" property="playerName" jdbcType="VARCHAR" />
    <result column="playerLogo" property="playerLogo" jdbcType="VARCHAR" />

    <result column="birth" property="birth" jdbcType="TIMESTAMP" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />

    <result column="teamId" property="teamId" jdbcType="INTEGER" />
    <result column="teamStatus" property="teamStatus" jdbcType="VARCHAR" />
    <result column="teamNumber" property="teamNumber" jdbcType="VARCHAR" />
    <result column="teamPosition" property="teamPosition" jdbcType="VARCHAR" />
    <result column="teamName" property="teamName" jdbcType="VARCHAR" />
    <result column="teamAbbr" property="teamAbbr" jdbcType="VARCHAR" />
    <result column="teamLogo" property="teamLogo" jdbcType="VARCHAR" />
    <result column="teamTech" property="teamTech" jdbcType="VARCHAR" />
    <result column="teamCreateDt" property="teamCreateDt" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <insert id="saveAccount" useGeneratedKeys="true" keyProperty="id" parameterType="com.footballer.rest.api.v2.vo.Account">
	<![CDATA[
   		 insert into account (name,pwd,cellphone,wechat_no,wechat_pic_url,wechat_openid,status)
    	 values (
    		#{name,jdbcType=VARCHAR},
	 		#{password,jdbcType=VARCHAR},
	 		#{cellphone,jdbcType=INTEGER},
	 		#{weChatNo,jdbcType=VARCHAR},
	 		#{weChatPicUrl,jdbcType=VARCHAR},
	 		#{weChatOpenId,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR}
     	)
     ]]>
  </insert>
  
  <insert id="saveUserToken" parameterType="com.footballer.rest.api.v2.vo.UserToken">
	<![CDATA[
   		 insert into user_token (id,identify,expire_dt)
    	 values (
    		#{id,jdbcType=VARCHAR},
	 		#{identify,jdbcType=VARCHAR},
			#{expireDate}
     	) 
     ]]>
  </insert>
  
  <insert id="saveFootballPlayer" parameterType="com.footballer.rest.api.v2.vo.FootballPlayer">
	<![CDATA[
   		 insert into football_player (id,nick_name,address_id,imageUrl,deviceToken,create_by,create_dt)
    	 values (
    		#{id,jdbcType=INTEGER},
	 		#{nickName,jdbcType=VARCHAR},
	 		#{addressId,jdbcType=INTEGER},
	 		#{imageUrl,jdbcType=VARCHAR},
			#{deviceToken,jdbcType=VARCHAR},
			#{createBy,jdbcType=VARCHAR},
	 		#{createDt}
     	)
     ]]>
  </insert>
  
  <insert id="saveArenaUser" parameterType="com.footballer.rest.api.v2.domain.ArenaUser">
	<![CDATA[
   		 insert into arena_user (player_id,arena_id,type,custom_price,comments,create_dt)
    	 values (
	 		#{playerId,jdbcType=INTEGER},
	 		#{arenaId,jdbcType=INTEGER},
	 		#{userType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{customPrice,jdbcType=DOUBLE},
			#{comments,jdbcType=VARCHAR},
			#{createDt}
     	)
     ]]>
  </insert>
  
  
  <insert id="savePlayerProperty" parameterType="com.footballer.rest.api.v1.vo.PlayerProperty">
	<![CDATA[
   		 insert into player_property (id,birth,height,weight,heavy_foot,create_by,create_dt)
    	 values (
    	 	#{id,jdbcType=INTEGER},
	 		#{birth},
	 		#{height,jdbcType=INTEGER},
	 		#{weight,jdbcType=INTEGER},
	 		#{heavyFoot,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{createBy,jdbcType=VARCHAR},
			#{createDt}
     	)
     ]]>
  </insert>
  
  <select id="getAccountBycellPhone" resultMap="Account" parameterType="long">
  	select * from account 
  	where name = #{cellPhone}
  </select>
  
  <select id="getAccountByOpenId" resultMap="Account" parameterType="String">
  	select * from account 
  	where wechat_openid = #{openId}
  </select>
  
  
  <select id="getPlayerByOpenId" resultMap="Account" parameterType="String">
  	select id, name, pwd as password, cellphone, wechat_no as weChatNo, wechat_pic_url as weChatPicUrl,wechat_openid as weChatOpenId from account
	where wechat_openid = #{openId}
  </select>
  
  <select id="getAccountById" resultMap="Account" parameterType="long">
  	select id, name, pwd as password, cellphone, wechat_no as weChatNo, wechat_pic_url as weChatPicUrl,wechat_openid as weChatOpenId from account
	where id = #{id}
  </select>
  
  <select id="findPlayerCellById" resultType="long" parameterType="long">
	select cellphone from account
	where id = #{playerId}
  </select>
  
  <update id="updateAccountPWDById" parameterType="com.footballer.rest.api.v2.vo.Account">
  	update account
    set
     	 pwd = #{password}
    where id = #{id}
  </update>
  
  <update id="updateWechatImageUrlById" parameterType="com.footballer.rest.api.v2.vo.Account">
  	update account
    set
     	 wechat_pic_url = #{weChatPicUrl}
    where id = #{id}
  </update>
  
  <update id="updatePlayerNameAndImgById" parameterType="com.footballer.rest.api.v1.domain.PlayerBaseInfo">
  	update football_player 
  	set
  		nick_name = #{nickName},
  		imageUrl = #{imageUrl}
    where id = #{id}
  </update>
  
  <update id="updatePlayerImgById" parameterType="com.footballer.rest.api.v1.domain.PlayerBaseInfo">
  	update football_player 
  	set
  		imageUrl = #{imageUrl}
    where id = #{id}
  </update>
  
  <update id="updatePlayerPropertyById" parameterType="com.footballer.rest.api.v1.vo.PlayerProperty">
  	update player_property 
  	set
  		birth = #{birth},
  		height = #{height},
  		weight = #{weight},
  		update_by = #{updateBy},
  		update_dt = #{updateDt}
    where id = #{id}
  </update>
  
  <update id="updatePlayerTeamsInfoByPlayerTeamsInfo"  parameterType="java.util.List">  
  	<foreach collection="list" item="item" index="index" open="" close="" separator=";">  
                update team_player   
                <set>  
                  player_number = ${item.playerNumber},
                  position = '${item.position}'  
                </set>  
                where team_id = ${item.teamId} and player_id = ${item.playerId}  
    </foreach>  
  </update>
  
  <select id="findPlayerAccountIdByCellPhone" resultType="long" parameterType="long">
  	select id from account 
  	where name = #{cell}
  </select>
  
  
  <select id="findPlayerPropertyByPlayerId" resultType="com.footballer.rest.api.v1.vo.PlayerProperty" parameterType="long">
  	select * from player_property 
  	where id = #{playerId}
  </select>
  
  <select id="findArenasOfOwnerByNameAndPwd" resultMap="ArenaResult" parameterType="com.footballer.rest.api.v2.vo.Account">
  	select a.id id, a.name name, a.tel tel, address.name addressName, a.pic pic from account account
	join arena_owner ao on ao.player_id = account.id
	join arena a on a.id = ao.arena_id
	join address on address.id = a.address_id
	where account.name = #{name} and account.pwd = #{password}
  </select>
  
  <select id="findTournamentsOfOwnerByNameAndPwd" resultMap="TournamentBaseInfoResult" parameterType="com.footballer.rest.api.v2.vo.Account">
  	select t.id, t.name, t.logo from tournament t
	join tournament_owner tow on tow.tournament_id = t.id
	join account a on a.id = tow.player_id
	where a.name = #{name} and a.pwd = #{password}
  </select>
  
  
  <select id="findArenaOwnerByIdAndOpenId" resultMap="ArenaOwner" parameterType="com.footballer.rest.api.v2.vo.ArenaOwner">
	select * from arena_owner
	where arena_id = #{arenaId} and wechat_openid = #{openId}  
  </select>
  
  <select id="getPlayerAndBasketBallTeamsInfo" resultMap="PlayerWithTeamsInfo" parameterType="long">
  	select fp.id playerId, fp.nick_name playerName, fp.imageUrl playerLogo, pp.birth birth, pp.height height, pp.weight weight, tp.status teamStatus, tp.player_number teamNumber, tp.position teamPosition, t.id teamId, t.name teamName, t.abbreviation teamAbbr, t.logo teamLogo, t.technical teamTech, t.create_dt teamCreateDt from football_player fp
  	left join player_property pp on pp.id = fp.id
	join team_player tp on tp.player_id = fp.id
	join team t on t.id = tp.team_id and t.type = 'basketball'
	where fp.id = #{playerId}
  </select>
  
  
  <select id="getPlayerAndFootballTeamsInfo" resultMap="PlayerWithTeamsInfo" parameterType="long">
  	select fp.id playerId, fp.nick_name playerName, fp.imageUrl playerLogo, pp.birth birth, pp.height height, pp.weight weight, tp.status teamStatus, tp.player_number teamNumber, tp.position teamPosition, t.id teamId, t.name teamName, t.abbreviation teamAbbr, t.logo teamLogo, t.technical teamTech, t.create_dt teamCreateDt from football_player fp
  	left join player_property pp on pp.id = fp.id
	join team_player tp on tp.player_id = fp.id
	join team t on t.id = tp.team_id and t.type = 'football'
	where fp.id = #{playerId}
  </select>
  
  
</mapper>