<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="player_mutual_evaluation_match_countMapper" >

  <!-- 字段映射  -->
  <resultMap id="BaseResultMap" type="com.footballer.rest.api.v2.vo.PlayerMutualEvaluationMatchCount" >
  
   	<id column="id" property="id" jdbcType="INTEGER" />
 
    <result column="event_id" property="eventId" jdbcType="INTEGER" />
    <result column="player_id" property="playerId" jdbcType="INTEGER" />
    <result column="property_type" property="playerSkillType" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_dt" property="createDt" jdbcType="DATE" />
    <result column="update_dt" property="updateDt" jdbcType="DATE" />
  
  </resultMap>
  
  <!-- 共用sql -->
  <sql id="Base_Column_List" >
     id,event_id,player_id,property_type,number,create_dt,update_dt
  </sql>

  <!-- 查询 -->  
  <select id="findPlayerMutualEvaluationMatchCountById" resultMap="BaseResultMap" parameterType="int" >
   	select 
    <include refid="Base_Column_List" />
    from player_mutual_evaluation_match_count
    where id= #{id}
  </select>
  
    <!-- 查询 -->  
  <select id="findPlayerMutualEvaluationMatchCountByIdAndProperty" resultMap="BaseResultMap" parameterType="com.footballer.rest.api.v2.vo.PlayerMutualEvaluationMatchCount" >
  
	   	select 
	    <include refid="Base_Column_List" />
	     <![CDATA[
	    from player_mutual_evaluation_match_count
	     where number > 0 
	     	and event_id= #{eventId,javaType=Long}
	    	and player_id = #{playerId,javaType=Long}
	    	and property_type =  #{playerSkillType}
   		 ]]> 
  </select>
  
  
  <!-- 查询 列表 -->  
  <select id="findPlayerMutualEvaluationMatchCount" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
     from player_mutual_evaluation_match_count
    
  </select>
  
        <!-- 查询 -->  
  <select id="findPlayerMutualEvaluationMatchSumDesc" resultType="com.footballer.rest.api.v2.vo.Player" parameterType="long" >
     <![CDATA[
	   	select 
	    fp.id,fp.nick_name nickName ,fp.imageUrl
	    from player_mutual_evaluation_match_count pmemc,football_player fp
	     where pmemc.player_id = fp.id and pmemc.number > 0
	      and event_id= #{eventId,javaType=Long}	
	   group by player_id order by sum(number) desc
	  ]]> 
  </select>
  
   <!-- 查询 列表 -->  
  <select id="findPlayerMutualEvaluationMatchCountByEventIdAndPlayerIdDesc" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
      <![CDATA[
     from player_mutual_evaluation_match_count
     where number > 0
     and event_id = #{eventId,javaType=Long}
     order by number desc
       ]]> 
  </select>
  
  <!-- 删除 -->
  
  <delete id="deleteById" parameterType="int" >
    delete from player_mutual_evaluation_match_count
    where id= #{id}
  </delete>
  
  
  <update id="increasePlayerMutualEvaluationMatchCount" parameterType="com.footballer.rest.api.v2.vo.PlayerMutualEvaluationMatchCount" >
   <![CDATA[
    update player_mutual_evaluation_match_count
    set
     	 number = number + #{number,jdbcType=INTEGER},
     	 update_dt = #{updateDt,jdbcType=DATE}
    where event_id= #{eventId,javaType=Long}
    	and player_id = #{playerId,javaType=Long}
    	and property_type =  #{playerSkillType}
    ]]> 
  </update>
  
  <update id="decreasePlayerMutualEvaluationMatchCount" parameterType="com.footballer.rest.api.v2.vo.PlayerMutualEvaluationMatchCount" >
   <![CDATA[
    update player_mutual_evaluation_match_count
    set
     	 number = number - #{number,jdbcType=INTEGER},
     	 update_dt = #{updateDt,jdbcType=DATE}
    where event_id= #{eventId,javaType=Long}
    	and player_id = #{playerId,javaType=Long}
    	and property_type =  #{playerSkillType}
    	and number >= #{number}
    ]]> 
  </update>
  
  <!-- 插入操作 -->
  <insert id="savePlayerMutualEvaluationMatchCount"  useGeneratedKeys="true" keyProperty="id" parameterType="com.footballer.rest.api.v2.vo.PlayerMutualEvaluationMatchCount">
	
    insert into player_mutual_evaluation_match_count (event_id,player_id,property_type,number,create_by,create_dt,update_by,update_dt,event_id,player_id,property_type,number,create_by,create_dt,update_by,update_dt)
    values (
	 		#{eventId,jdbcType=INTEGER},
	 		#{playerId,jdbcType=INTEGER},
	 		#{playerSkillType,jdbcType=VARCHAR},
	 		#{number,jdbcType=INTEGER},
	 		#{createDt,jdbcType=DATE},
	 		#{updateDt,jdbcType=DATE}
     )
  </insert>
  
 
  <!-- 更新 -->
  <update id="updatePlayerMutualEvaluationMatchCountById" parameterType="com.footballer.rest.api.v2.vo.PlayerMutualEvaluationMatchCount" >
   <![CDATA[
    update player_mutual_evaluation_match_count
    set
     	 event_id = #{eventId,jdbcType=INTEGER},
     	 player_id = #{playerId,jdbcType=INTEGER},
     	 property_type = #{propertyType,jdbcType=VARCHAR},
     	 number = #{number,jdbcType=INTEGER},
     	 create_dt = #{createDt,jdbcType=DATE},
     	 update_dt = #{updateDt,jdbcType=DATE}
    where id= #{id}
    ]]> 
  </update>
  

</mapper>