<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SoloWish" >

  <resultMap id="SoloWishInfo" type="com.footballer.rest.api.v2.domain.SoloWishInfo" >
   	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="arenaId" property="arenaId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="playerId" property="playerId" jdbcType="INTEGER" />
    <result column="playerName" property="playerName" jdbcType="VARCHAR" />
    <result column="playerHeadIcon" property="playerHeadIcon" jdbcType="VARCHAR" />
    <result column="cellphone" property="cellphone" jdbcType="INTEGER" />
    <result column="useTimes" property="useTimes" jdbcType="INTEGER" />
    <result column="absentTimes" property="absentTimes" jdbcType="INTEGER" />
  </resultMap>
  
  
  <resultMap id="SoloActiveCustomers" type="com.footballer.rest.api.v2.domain.SoloActiveCustomersInfo" >
    <result column="playerId" property="playerId" jdbcType="INTEGER" />
    <result column="playerName" property="playerName" jdbcType="VARCHAR" />
    <result column="playerHeadIcon" property="playerHeadIcon" jdbcType="VARCHAR" />
    <result column="cellphone" property="cellphone" jdbcType="INTEGER" />
    <result column="useTimes" property="useTimes" jdbcType="INTEGER" />
    <result column="absentTimes" property="absentTimes" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findSoloWishsOfNext7Days" resultMap="SoloWishInfo" parameterType="long">
	select sw.id id, sw.date date, sw.player_id playerId, fp.nick_name playerName, a.wechat_pic_url playerHeadIcon, a.cellphone cellphone,
	(select count(playerId) from solo_wish csw where csw.player_id = playerId) useTimes, 
	(select sum(csw.absent) from solo_wish csw where csw.player_id = playerId) absentTimes  
	from solo_wish sw
	join account a on a.id = sw.player_id
	join football_player fp on fp.id = sw.player_id
	where arena_id = #{arenaId} and date between  curdate() and date_add(curdate(), interval 7 day)
  </select> 
  
  <insert id="addWeChatSoloWish"  useGeneratedKeys="true" keyProperty="id" parameterType="com.footballer.rest.api.v2.vo.SoloWish">
	<![CDATA[
   		 insert into solo_wish (arena_id,date,player_id)
    	 values (
    		#{arenaId,jdbcType=INTEGER},
    		#{date},
	 		#{playerId,jdbcType=INTEGER}
     	)
     ]]>
  </insert>
  
  <delete id="removeSoloWishById" parameterType="long" >
    delete from solo_wish 
    where id = #{soloWishId}
  </delete>
  
  
  <select id="findSoloActiveCustomersOrderByTimes" resultMap="SoloActiveCustomers" parameterType="long">
  	select fp.id playerId, fp.nick_name playerName, a.wechat_pic_url playerHeadIcon, a.cellphone cellphone, count(*) useTimes, sum(sw.absent) absentTimes from solo_wish sw
	join football_player fp on fp.id = sw.player_id
	join account a on a.id = fp.id
	where sw.arena_id = #{arenaId}
	group by sw.player_id
	order by useTimes desc
  </select>
  
  <update id="updateSoloWishDate"  parameterType="com.footballer.rest.api.v2.vo.SoloWish" >
  	update solo_wish
    set
     	 date = #{date}
    where id = #{id}
  </update> 
  
  <update id="recordAbsentSoloWishById"  parameterType="long" >
  	update solo_wish
    set
     	 absent = 1
    where id = #{SoloWishId}
  </update> 
  
</mapper>