span#title {
	font-size: 33px;
	font-family: Impact;
	padding-top: 5px;
	color: white;
}

.label {
	font-size: 15px;
	font-weight: bolder;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #4473A1;
}

.label0 {
	font-size: 26px;
	display: inline-block;
	font-weight: lighter;
	padding: 0px 0px 0px 0;
}

.label1 {
	font-size: 26px;
	display: inline-block;
	font-weight: bold;
	padding: 0px 0px 0px 0;
	color: darksalmon;
}

.label3 {
	font-size: 22px;
	display: inline-block;
	padding: 5px 0px 5px 0;
}

.tips {
	font-size: 20px;
	font-weight: bolder;
	font-family: monospace;
	color: #6A6ACF;
}

div#LeftDiv {
	float: left;
	width: 0%;
	height: 800px;
	border: solid;
	border-color: #82B3FF;
	display: none;
}

div#RightDiv {
	float: right;
	width: 100%;
	height: 100%;
}

.import {
	color: red;
	font-size: 18px;
	font-family: cursive;
}

.done {
	color: green;
	font-weight: bold;
	font-size: 16px;
}

.in_progress {
	color: blue;
	font-size: 16px;
}

.standby {
	color: orange;
	font-size: 15px;
}