.font_long_ellipsis{
	overflow:hidden;  
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fix-div{ 
	position:fixed !important;
	top:0px;
}

.span12 {
	font-size:12px;
}

.span12cfblue {
	font-size:12px;
	color:cornflowerblue;	
}

.span16cfblue {
	font-size:16px;
	color:cornflowerblue;	
}


.span14 {
	font-size:14px;
    display: inline-flex;
}

.span18 {
	font-size:18px;
}

.span26 {
	font-size:26px;
}

.span13_No{
	font-size:13px;
	font-family: Arial;
}

.divInLine{
	display:inline-flex;
	width:100%;
	height:100%;
	vertical-align: middle;
}

.divInLineFlex{
	display:inline-flex;
}

.fontBolder{
	font-weight:bolder;
}

.fontFamilySerif{
	font-family: serif;
}

.txtAg-l {
	text-align: left;
}

.txtAg-c {
	text-align: center;
}


.c_yellow {
	color:yellow;
}

.c_red {
	color:red;
}

.c_green {
	color:green;
}

.c_blue {
	color:#00a5e0;
}

.c_grey {
	color:grey;
}

.c_orange {
	color:orange;
}

.c_cadetblue{
	color:cadetblue;
}

.c_aliceblue{
	color:aliceblue;
}

.c_azure{
	color:azure
}

.fs8 {
	font-size:8px;
}

.fs12 {
	font-size:12px;
}

.fs13{
	font-size:13px;
}

.fs14{
	font-size:14px;
}

.fs16{
	font-size:16px;
}

.fs20{
	font-size:20px;
}

.fwbold{
	font-weight:bold;
}

.p5 {
	padding:5px;
}


.pl2 {
	padding-left:2px;
}

.pl5 {
	padding-left:5px;
}

.pr5 {
	padding-right:5px;
}

.pt5{
	padding-top:5px;
}

.pt10{
	padding-top:10px;
}

.pl10 {
	padding-left:10px;
}

.pl20{
	padding-left:20px;
}

.ml5{
	margin-left:5px;
}

.mr5{
	margin-right:5px;
}

.mt5{
	margin-top:5px;
}

.mt10{
	margin-top:10px;
}

.mt20{
	margin-top:20px;
}

.mb5{
	margin-bottom:5px;
}

.mb20{
	margin-bottom:20px;
}

.mb60{
	margin-bottom:60px;
}