<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>footBaller</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <filter>
      <filter-name>mobileAppSecurityFilter</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
      <init-param>
          <param-name>targetFilterLifecycle</param-name>
          <param-value>true</param-value>                   
      </init-param>
      <init-param>
      	  <param-name>whitelist</param-name>
          <param-value>
            player-service/arenaOwnerLogin,player-service/tournamentOwnerLogin,player-service/findAccountPWD,user-service/register,user-service/login,arena-service/findAllArena,arena-service/findAllArenaByName,team-service/findAllTeams,wechat-service/getWechatOAuthAccessToken
          </param-value>
      </init-param>
  </filter>

  <filter-mapping>
      <filter-name>mobileAppSecurityFilter</filter-name>
      <url-pattern>/api/mobile/*</url-pattern>
  </filter-mapping>

	<!-- alibaba druid monitor begin -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>sessionStatEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
		<init-param>
			<param-name>principalSessionName</param-name>
			<param-value>user_info</param-value>
		</init-param>
		<init-param>
			<param-name>profileEnable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>com.footballer.filter.FootballerMonitoringFilter</filter-class>
		<init-param>
			<param-name>monitoring-path</param-name>
			<param-value>/druid/mo</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>WechatAccessServlet</servlet-name>
		<servlet-class>com.footballer.servlet.WechatAccessServlet</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>TopayServlet</servlet-name>
	    <servlet-class>com.footballer.servlet.TopayServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  		<servlet-name>MobilePrepayServlet</servlet-name>
  		<servlet-class>com.footballer.servlet.MobilePrepayServlet</servlet-class>
  	</servlet>
	
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<param-name>loginUsername</param-name>
			<param-value>footballer</param-value>
		</init-param>
		<init-param>
			<param-name>loginPassword</param-name>
			<param-value>footballer</param-value>
		</init-param>
		<!-- 关闭清零 -->
		<init-param>
			<param-name>resetEnable</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	
	<!-- /druid/login.html  druid 监控地址 -->
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<!-- alibaba druid monitor end -->
	
	<servlet-mapping>
		<servlet-name>WechatAccessServlet</servlet-name>
		<url-pattern>/wechataccess</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>TopayServlet</servlet-name>
	    <url-pattern>/topayServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet-mapping>
  		<servlet-name>MobilePrepayServlet</servlet-name>
  		<url-pattern>/mobilePrepayServlet</url-pattern>
  	</servlet-mapping>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	classpath:applicationContext.xml,
    	classpath:applicationContext-injectBeans.xml,
    	classpath:applicationContext-redis.xml,
    	classpath:applicationContext-task.xml
    </param-value>
  </context-param>

  <!----> 
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  <!-- 
  <servlet>
    <servlet-name>Jersey Rest Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.footballer.rest</param-value>
    </init-param>
    <init-param>
          <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
          <param-value>true</param-value>
      </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
   -->
  
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>
			org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
		<init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.footballer.rest</param-value>
        </init-param>
        <!-- https://stackoverflow.com/questions/18842390/jersey-2-2-containerresponsefilter-and-containerrequestfilter-never-get-execute -->
        <init-param>
          <param-name>jersey.config.server.provider.classnames</param-name>
          <param-value>com.footballer.filter.CORSFilter</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
    <servlet>
        <servlet-name>fileUpload</servlet-name>
        <servlet-class>com.footballer.servlet.FileUploadServlet</servlet-class>
    </servlet>

  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>fileUpload</servlet-name>
        <url-pattern>/fileUpload/*</url-pattern>
    </servlet-mapping>
</web-app>