<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title></title>
        <link rel="stylesheet" href="../../css/frozen.css">
        <link rel="stylesheet" href="../../css/match.css">
        <link rel="stylesheet" href="../../../css/justin_mobile_common.css">
    </head>

<body>
	<div class="ui-loading-block show">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	        <p>loading...</p>
	    </div>
	</div>
	<div id="app" v-cloak>
		
		<header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="historyBack('basketball')"></i>
            <h1>{{match_details}}</h1>
            <button id="langBtn" class="ui-btn" v-on:click="toggleLanguage">{{changeToLang}}</button>
        </header>
	
		<section class="ui-container">
			<ul class="ui-row-flex ui-border-tb f-datagrid" style="background-color: white;" >
				<li class="ui-col ui-col-2 ui-align-center" style="text-align:center;">
					<img src="http://static.footballer.cc/{{hostTeamData.teamLogo}}" class="matchdashboard_teamlogo">
					<br/>
					<label class="fs16">{{hostTeamData.teamName}}</label>
				</li>
			    <li class="ui-col ui-col-2 ui-align-center" style="align-items: center;">
			    	<div style="height:46px;margin-top: 30px;text-align: center;width: 100%;background-color: green;">
			    		<span style="font-size:33px;font-weight:bold;color:white">{{ hostTeamData.ptsf  }}:{{ guestTeamData.ptsf }}</span>
			    	</div>
			    	<div style="font-size: 12px;text-align: center;">
			    		{{videoInfo.date}}
			    	</div>
			    </li>
			    <li class="ui-col ui-col-2 ui-flex ui-flex-ver  ui-flex-align-end ui-flex-pack-end matchdashboard_guestteam">
			    	<img src="http://static.footballer.cc/{{guestTeamData.teamLogo}}" class="matchdashboard_teamlogo">
					<br/>
					<label class="fs16">{{guestTeamData.teamName}}</label>
			    </li>
			</ul>
		</section>
        
       <section class="ui-container2 matchdashboard_tab">
       		<div class="demo-block">
				<div class="ui-tab">
				    <ul class="ui-tab-nav ui-border-b">
				        <li class="current">{{match_team_data}}</li>
				        <li>{{match_player_data}}</li>
				        <li>MVP</li>
				        <li>{{match_highlights}}</li>
				    </ul>
				    <ul class="ui-tab-content" style="width:300%">
				    	
				    	
				    	<!--  球队数据  -->
				        <li style="margin-bottom: 50px;">
				        	<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 10px;">
							    <div class="ui-col ui-col div25 {{ hostTeamData.p3AColor}}">{{ hostTeamData.p3A }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >3PA</label>
							    </div>
							    <div class="ui-col ui-col div25 {{ guestTeamData.p3AColor}}">{{ guestTeamData.p3A }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25 {{ hostTeamData.p3mColor}}">{{ hostTeamData.p3M }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 c_green" >3PM</label>
							    </div>
							    <div class="ui-col ui-col div25  {{guestTeamData.p3mColor}}">{{ guestTeamData.p3M }}</div>
							</div>
					        <div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top:2px;">
							    <div class="ui-col ui-col div25 {{hostTeamData.p2AColor}}">{{ hostTeamData.p2A }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14" >2PA</label>
							    </div>
							    <div class="ui-col ui-col div25 {{guestTeamData.p2AColor}}">{{ guestTeamData.p2A }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25 {{ hostTeamData.p2MColor}}">{{ hostTeamData.p2M }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 c_green" >2PM</label>
							    </div>
							    <div class="ui-col ui-col div25 {{ guestTeamData.p2MColor}}">{{ guestTeamData.p2M }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.ftaColor}}">{{ hostTeamData.fta }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >FTA</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.ftaColor}}">{{ guestTeamData.fta }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.ftmColor}}">{{ hostTeamData.ftm }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >FTM</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.ftmColor }}">{{ guestTeamData.ftm }}</div>
							</div>
							
							<!-- <div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.astColor}}">{{ hostTeamData.ast }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >AST</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.astColor }}">{{ guestTeamData.ast }}</div>
							</div> -->
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 5px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.stlColor}}">{{ hostTeamData.stl }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >STL</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.stlColor}}">{{ guestTeamData.stl }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.rebColor}}">{{ hostTeamData.reb }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >REB</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.rebColor}}">{{ guestTeamData.reb }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.blkColor}}">{{ hostTeamData.blk }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >BLK</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.blkColor }}">{{ guestTeamData.blk }}</div>
							</div>
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.tovColor}}">{{ hostTeamData.tov }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >TOV</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.tovColor }}">{{ guestTeamData.tov }}</div>
							</div> 
							
							<div class="ui-row-flex ui-whitespace" style="text-align:center;margin-top: 2px;">
							    <div class="ui-col ui-col div25  {{ hostTeamData.pfColor}}">{{ hostTeamData.pf }}</div>
							    <div class="ui-col ui-col txtAg-c">
							    		<label class="fs14 " >PF</label>
							    </div>
							    <div class="ui-col ui-col div25  {{ guestTeamData.pfColor}}">{{ guestTeamData.pf }}</div>
							</div>
							
						</li>
						
						<!--  球员数据  -->
				        <li>
							<div class="ui-btn-group" style="margin:5px;">
							    <button v-on:click="showCurrentTeamData" class="ui-btn ui-btn-primary" id="{{hostTeamData.teamId}}">
							        {{hostTeamData.teamName}}
							    </button>
							    <button v-on:click="showCurrentTeamData" class="ui-btn" id="{{guestTeamData.teamId}}">
							        {{guestTeamData.teamName}}
							    </button>
							</div>
							
				        	<div class="ui-row-flex" style="margin-bottom:100px;">
								<div class="ui-col">
									<ul v-for="p in currentTeamResultList" class="ui-list ui-border-b " v-on:click="clickPlayerItem" id="{{p.playerId}}">
							    		<li v-if="$index==0" class="ui-flex ui-flex-pack-end" style="margin-left: 5px;padding: 1px 0 0 0;">
									        <!-- <div class="ui-list-text ui-col" style="width:0px;">     
									             <div class="ui-txt-info" style="padding: 2px 0px 0px 0px;text-align: center;width: 20px;color: #25b359;">#</div>
									        </div>
									        <div class="ui-list-thumb-s" style="margin: 0px 5px 0px 0px;background-color: darkgray;">
												<span style="background-image:url(../../../img/app/football_career_edited_1.png)"></span>
											</div> -->
									        <div class="ui-border-r txtAg-c fs12" style="width:95px;">
									            {{labelPlayerTitle}}
									        </div>
									        <div class="ui-col txtAg-c ui-border-b fs12 c_green" style="background-color: aliceblue;width:12px;">
									            PTS 
									        </div>
									        <div class="ui-col fs12 txtAg-c c_green" style="width: 18px;">
									            3M/A 
									        </div>
									        <div class="ui-col fs12 txtAg-c c_green" style="width: 18px;">
									            2M/A
									        </div>
									        <div class="ui-col fs12 txtAg-c c_green" style="width:18px;">
									            FM/A
									        </div>
									        <div class="ui-col fs12 txtAg-c c_blue" style="width:8px">
									            AT
									        </div>
									        <div class="ui-col fs12 txtAg-c c_blue" style="width:8px">
									            ST
									        </div>
									        <div class="ui-col fs12 txtAg-c c_blue" style="width:8px">
									            RB 
									        </div>
									        <div class="ui-col fs12 txtAg-c c_blue" style="width:8px">
									            BL 
									        </div>
									        <div class="ui-col fs12 txtAg-c c_red" style="width:8px">
									            TV
									        </div>
									        <div class="ui-col fs12 txtAg-c c_red" style="width:8px">
									            PF 
									        </div>
									    </li>
							    		<li class="ui-flex ui-flex-pack-end ui-border-b" style="margin-left:5px;">
									        <div style="display:inline-flex;width:95px">
									        	<div class="txtAg-c" style="width:25px;margin-right: 0px;">
									            	<label style="display: block;padding: 13px 0px 10px 0px;width: 17px;color: #00a5e0;">{{p.playerNumber}}</label> 
										        </div>
										        <div v-if="p.playerImg" class="ui-list-thumb-s" style="margin: 10px 5px 0px 0px;width:30px;">
										            
										            <span v-if="p.showWXLogo" style="background-image:url({{p.playerImg}});width:30px;"></span>
										            <span v-else style="background-image:url(http://static.footballer.cc/{{p.playerImg}});width:30px;"></span> 
										        </div>
												<div v-else class="ui-list-thumb-s" style="margin: 10px 5px 0px 0px;width:28px;">
													<span style="background-image:url(../../../img/app/football_career_edited_2.png)"></span>
												</div>
										        <div class="ui-border-r fs12" style="width:50px;">
										            <span class="font_long_ellipsis" style="width:42px;font-size:12px;margin-top: 17px;display: block;">{{p.playerName}}</span>
										        </div>
									        </div>
									        
									        <div class="ui-col txtAg-c ui-border-b fs14" style="padding-top: 16px;background-color: aliceblue;width:12px">
									            {{p.p3M*3 + p.p2M*2 + p.ftm}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width: 18px;">
									            {{p.p3M}}/{{p.p3A}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:18px">
									            {{p.p2M}}/{{p.p2A}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:18px">
									            {{p.ftm}}/{{p.fta}}
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:8px">
									            {{p.ast}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:8px">
									            {{p.stl}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:8px">
									            {{p.reb}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:8px">
									            {{p.blk}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:8px">
									            {{p.tov}} 
									        </div>
									        <div class="ui-col fs12 txtAg-c" style="padding-top: 17px;width:8px">
									            {{p.pf}} 
									        </div>
									    </li>
									</ul>
								</div>
							</div>
					       
				        </li>
				        
				        <!-- MVP & Team Mvp -->
				        <li>
				        	<ul class="ui-flex-ver ui-whitespace" style="margin-top:5px;padding: 10px 5px 1px 10px;background-color: white;">
							    <div class="divInLine">
							    	<img src="../../../img/analysis/MVP.png" style="margin: 10px 0 0 0;width:130px;height:50px">
							    	<table width=50%>
							    		<tr>
							    			<td width=50px>
							    				<img src="http://static.footballer.cc/{{mvpPlayer.teamLogo}}" style="width:50px;margin: 0 0 -8px 15px;">
							    			</td>
							    			<td width=80px>
							    				<div class="ui-avatar-lg" style="margin:0 auto;width:60px;height:60px;">
				                        			<span v-if="mvpPlayer.showWXLogo" style="background-image:url({{mvpPlayer.playerImg}})"></span>
				                        			<span v-else style="background-image:url(http://static.footballer.cc/{{mvpPlayer.playerImg}})"></span>
				                    			</div>
	                    					</td>
							    			
							    		</tr>
							    		<tr style="text-align: center;">
							    			<td width=50px>
	                    						<label style="color:cornflowerblue;margin-top: -8px;display: block;font-size:25px;">{{ mvpPlayer.playerNumber }}</label>
	                    					</td>
							    			<td width=80px>
							    				<label class="span16cfblue">{{ mvpPlayer.playerName }}</label>		
							    			</td>
							    			
							    		</tr>
							    	</table>
							    </div>
							   </ul>
							   <ul class="ui-flex-ver" style="background-color: white;padding: 2px;">
							    	<div class="divInLine" style="margin-top:0px;margin-left:5px;">
							    	<table width=100% style="text-align: center;">
											<tr class="fs12 c_green">
												<td>PTS</td>
												<td>3PM/A</td>
												<td>2PM/A</td>
												<td>FTM/A</td>
												<td class="c_blue">AST</td>
												<td class="c_blue">STL</td>
												<td class="c_blue">REB</td>
												<td class="c_blue">BLK</td>
												<td class="c_red">TOV</td>
												<td class="c_red">PF</td>
											</tr>
											<tr style="background-color: azure;">
												<td class="c_orange">{{mvpPlayer.pts}}</td>
												<td><label class="span16cfblue">{{mvpPlayer.p3M}}</label>/<label>{{mvpPlayer.p3A}}</label></td>
												<td><label class="span16cfblue">{{mvpPlayer.p2M}}</label>/<label>{{mvpPlayer.p2A}}</label></td>
												<td><label class="span16cfblue">{{mvpPlayer.ftm}}</label>/<label>{{mvpPlayer.fta}}</label></td>
												<td>{{mvpPlayer.ast}}</td>
												<td>{{mvpPlayer.stl}}</td>
												<td>{{mvpPlayer.reb}}</td>
												<td>{{mvpPlayer.blk}}</td>
												<td>{{mvpPlayer.tov}}</td>
												<td>{{mvpPlayer.pf}}</td>
											</tr>
	
										</table>
							    	</div>
							</ul>
							
							<ul v-show="teamMvpPlayer" class="ui-whitespace ui-border-tb" style="margin:5px 0 50px 0;background-color: white;padding: 10px;">
								<div class="divInLine">
									<img src="../../../img/analysis/teamMVP.png" style="width: 30%; height: 100%;">
									<img src="http://static.footballer.cc/{{teamMvpPlayer.teamLogo}}" style="width: 30px; height:30px;margin: 4px 5px 0 14px;">
									<!-- <label style="margin: 10px 5px 0 5px;">{{ teamMvpPlayer.teamName }}</label> -->
									<div class="ui-avatar-s" style="width: 35px;height: 35px;">
										<span style="background-image: url(http://static.footballer.cc//{{teamMvpPlayer.playerImg}})"></span>
									</div>
									<label style="margin: 13px 5px 0 5px;font-size: 14px;">{{ teamMvpPlayer.playerNumber }}</label>
									<label style="margin: 13px 5px 0 0px; font-size:14px;">{{ teamMvpPlayer.playerName }}</label>
											
								</div>
							</ul>
							
				        </li>
				        
				        <!-- Highlights -->
				        
				        <li>
				        	<ul class="ui-list ui-list-one ui-border-t">
								<li class="ui-border-t ui-flex-ver" style="margin: 0px;height:200px;" id="matchVideo">
									<iframe height='200px' width='100%' src='{{videoInfo.url}}'  frameborder=0 'allowfullscreen'></iframe>
								</li>
								<ul class="ui-row-flex">
									    <li class="ui-col ui-flex ui-flex-pack-start"  style="width:100%">
									    	<div>
												<span class="span14" style="padding-left: 10px;">{{videoInfo.name}}</span>
												<br> 
												<span class="span14" style="padding-left: 10px;">{{videoInfo.date}}</span>
									    	</div>
									    </li>
									    <li class="ui-col ui-flex ui-flex-ver  ui-flex-align-end ui-flex-pack-end">
									    	<div>
												<ul class="ui-list ui-flex">
													<li>
											            <i id="videoSupportBtn" class="ui-icon-like" data-video-id="{{videoInfo.id}}" v-on:click="clickSupport"></i>
											            <span style="display: block;padding-top: 11px;color: darkcyan;">{{supportList.length}}</span>
											        </li>
											        <li>
											            <i class="ui-icon-comment"></i>
											            <span style="display: block;padding-top: 11px;color: cornflowerblue;">{{commentsList.length}}</span>
											        </li>
											        <li>
											            <i class="ui-icon-share"></i>
											            <span style="display: block;padding: 11px 10px 0 0;color: green;">{{shareRecordList.length}}</span>
											        </li>
											     </ul>
											</div>
									    </li>
								</ul>
							</ul>	
								

							<ul class="ui-flex-ver" style="margin-bottom:30px;">
									
								<!-- 点赞 -->
								<li style="display:inline-flex;border-bottom: lightgray 1px solid;background-color: transparent">
									    	<i class="ui-icon-like" style="padding-left: 5px;"></i>
									        <ul class="ui-justify" style="margin:10px;">
										        <li v-for="s in supportList" >
										        	<!-- <div v-show="!s.showWXLogo" class="ui-avatar-tiled" style="margin: 10px 5px 0px 0px;">
										            	<span style="background-image:url(http://static.footballer.cc/{{s.playerLogo}})"></span>
										        	</div>
										        	<div v-show="s.showWXLogo" class="ui-avatar-tiled" style="margin: 10px 5px 0px 0px;">
												            <span style="background-image:url({{s.playerLogo}})"></span>
												    </div> -->
												    <span class="span12" style="color:darkcyan;">{{s.playerName}}&nbsp;&nbsp;</span>
										        </li>
									        </ul>
									    </li>
									    
								<!-- 评论 -->
								<li style="border-bottom: lightgray 1px solid;margin-bottom:20px;">
										    <ul v-for="c in commentsList" class="ui-list ui-list-one" style="padding:3px 0 3px 0">
											    <li style="height: 50px;margin-left: 5px;">
											        <div v-show="!c.showWXLogo" class="ui-avatar-tiled" style="margin: 0px 5px 0px 0px;">
											            <span style="background-image:url(http://static.footballer.cc/{{c.playerLogo}})"></span>
											        </div>
											        <div v-show="c.showWXLogo" class="ui-avatar-tiled" style="margin: 0px 5px 0px 0px;">
											            <span style="background-image:url({{c.playerLogo}})"></span>
											        </div>
											        <div style="width:100%">
											        	<!-- <span style="font-size: 12px;color:forestgreen;margin: -8px 0 0 5px;display: block;height: 16px;">{{c.playerName}}</span>
											            <span style="font-size: 14px;margin: 3px 0 0 5px;display: block;">{{c.comments}}</span> -->
											            <table style="width:100%">
											            	<tr style="line-height: 15px;">
											            		<td width=50%>
											            			<span style="font-size: 12px;color:forestgreen;padding-left:5px;" >{{c.playerName}}</span>
											            			<span style="font-size: 12px;padding-left:6px;" >{{c.commentsTime}}</span>
											            		</td>
											            		<td style="width:50%;text-align:right;" ></td>
											            	</tr>
											            	<tr>
											            		<td colspan="2"><textarea readonly="readonly" style="border:none;height:32px;width:92%;font-size: 14px;padding-left:5px;">{{c.comments}}</textarea></td>
											            		<!-- <td colspan="3" nowrap="false"><span class="ui-txt-justify" style="font-size: 14px;padding-left:5px;word-wrap: break-word; word-break: normal; ">{{c.comments}}</span></td> -->
											            	</tr>
											            	
											            
											            </table>
											        </div>
											    </li>
											</ul>
											
										</li> 
										
								<!-- 分享 -->
								<li >
											<ul class="ui-flex-ver">
												<li style="display:inline-flex;style="background-color: ghostwhite;">
													<i class="ui-icon-share" style="padding-left: 5px;"></i>
													<span v-if="shareRecordList.length >0" style="font-size: 14px;padding-left:5px;word-break:keep-all;margin: auto; "><b style="color:green;">{{shareRecordList.length}}</b> {{labelShareLable}}</span>
													<span v-else style="font-size: 14px;padding-left:5px;word-break:keep-all; margin: auto;">{{labelUnShareLable}}</span>
												</li>
											</ul>
											<ul class="ui-justify" style="margin-bottom:70px;padding: 0 0 10px 10px;">
										        <li v-for="sr in shareRecordList">
													<div v-show="!sr.showWXLogo" class="ui-avatar-tiled" style="margin: 10px 5px 0px 0px;">
												   		<span style="background-image:url(http://static.footballer.cc/{{sr.playerLogo}})"></span>
													</div>
												    <div v-show="sr.showWXLogo" class="ui-avatar-tiled" style="margin: 10px 5px 0px 0px;">
														<span style="background-image:url({{sr.playerLogo}})"></span>
												    </div>
												</li>
										    </ul>
										</li>
							</ul>
						</li>		
					</ul>
				</div>
			</div>
		</section>
								
		
		<div v-show="!toggleComments" class="ui-footer ui-footer-stable ui-btn-group ui-border-t" onclick="aufFooterRedirect()">
			<img style="display:block;" src="../../image/auf_logo_wechat_footer_1000_v1_alpha.png" width="170px" height="25px" >
		</div>
		
		<div v-show="toggleComments" class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
				<i class="ui-icon-comment" style="margin:0px"></i>
				<div class="ui-input ui-border-radius">
					<input type="text" id="say" value="" placeholder="{{labelPlaceHolder}}...">
				</div>
				
				<!-- <i id="videoSupportBtn" class="ui-icon-like" v-on:click="clickSupport" data-video-id="{{videoInfo.id}}"></i> -->
				<button v-on:click="addComments" class="ui-btn">{{labelComment}}</button>
		</div>
		
	</div>

<script src="../../../i18n/env.js"></script>
<script src="../../js/sha1.js"></script>
<script src="../../js/sha1_v2.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../../../js/jquery-1.11.2.min.js" type="text/javascript"></script>     
<script src="../../js/lib/zeptojs/zepto.min.js"></script>
<script src="../../js/frozen.js"></script>
<script src="../../js/server/service.js"></script>
<script src="../../../js/justin_common.js"></script>
<script src="../../js/lib/vue.min.js"></script>
<script src="../../js/lib/underscore-min.js"></script>
<script src="../../../js/jquery.i18n.properties-min-1.2.2.js" type="text/javascript" ></script>

<script>

h5Init()
accessStats()

$(document).ready(function() {
        	
			lang = f$.cache('lang') 
			
    		var vm, shareTitle, shareDesc,currentShareURL
    		currentPlayer={};

	        //特殊处理 之前json 方式 出来得url 与需要分享时到微信浏览器上会出现不一致
	        tournamentId = getParameter(window.location.href ,"tournamentId")		
	        matchId = getParameter(window.location.href ,"matchId")
	        
    		
	    	vm = new Vue({
	    		el   : '#app',
	    		data : {
	    			domain:'',
	    			suffix:'',
	    			changeToLang:'',
	    			TDtabteam:'',
					TDtabSponsors:'',
				    TDtabStats:'',
				    TDtabVideo:'',
				    loggedUserSessionKey:'',
				    basketBallPlayerMatchResultList:[],
				    currentTeamResultList:[],
				    hostTeamData:null,
				    guestTeamData:null,
				    mvpPlayer:null,
				    teamMvpPlayer:null,
				    match_details:'',
				    match_team_data:'',
				    match_player_data:'',
				    match_highlights:'',
				    mvp:'',
				    teamMvp:'',
				    goal:'',
				    shot:'',
				    assist:'',
				    kpass:'',
				    kdefense:'',
				    ftm:'',
				    foul:'',
				    reb:'',
				    stl:'',
				    ownGoal:'',
				    tackle:'',
				    labelPlayerNumber:'',
					labelPlayerTitle:'',
					labelPlaceHolder:'',
    		        labelComment:'',
    		        labelShareLable:'',
    		        labelUnShareLable:'',
					videoInfo:{},
					commentsList:[],
					supportList:[],
					shareRecordList:[],
					toggleComments:false,
					shareContent:'',
	    		},
	    		methods: {
	    			init:function() {			
	    				vm.$data.domain =  GLOBAL_VAR_DOMAIN;
				        vm.$data.suffix = GLOBAL_VAR_SUFFIX;
				        if(lang == 'ch'){
	    					vm.$data.changeToLang = 'Eng'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = '中文'
				        }
				       	vm.langI18n(lang)
				        				        
	    				$('title').text(vm.$data.match_details)
	    				tabinit();
	    				vm.loadMatchData();
	    				
	    				currentPlayer = f$.cacheObj('currentPlayer')
	    				if(currentPlayer.logo.indexOf('mmopen')>0){
    						currentPlayer.showWXLogo = true;
	    				}else{
	    					currentPlayer.showWXLogo = false;
	    				}
	    			},
	    			langI18n : function(lang){
	    				$.i18n.properties({// 加载中文properties文件  
	    	    		    name:'lan', // properties文件名称  
	    	    		    path:'../../../i18n/', // properties文件路径  
	    	    		    mode:'map', // 用 Map 的方式使用资源文件中的值  
	    	    		    language:lang,
	    	    		    checkAvailableLanguages: true,
	    	    		    callback: function() {// 加载成功后设置显示内容  
	    	    		        vm.$data.matchListName=$.i18n.prop('match_list_name');
	    	    		        vm.$data.match_details=$.i18n.prop('match_details');
	    	    		        vm.$data.match_team_data=$.i18n.prop('match_team_data');
	    	    		        vm.$data.match_player_data=$.i18n.prop('match_player_data');
	    	    		        vm.$data.match_highlights=$.i18n.prop('match_highlights');
	    	    		        
	    	    		        vm.$data.labelPlayerNumber=$.i18n.prop('playerNumber');
	    	    		        vm.$data.labelPlayerTitle=$.i18n.prop('player');
	    	    		        
	    	    		        vm.$data.labelPlaceHolder=$.i18n.prop('placeHolder');
	    	    		        vm.$data.labelComment=$.i18n.prop('comment');
	    	    		        
	    	    		        shareTitle = $.i18n.prop('matchHightlights');
	    	    		        shareDesc = $.i18n.prop('comeAndSeeMyGame');
	    	    		        vm.$data.labelShareLable = $.i18n.prop('shareLabel');
	    	    		        vm.$data.labelUnShareLable = $.i18n.prop('unShareLabel');
	    	    		    }
	    	    		});
	    			},
	    			toggleLanguage : function(){
	    				if(lang == 'ch'){
	    					vm.$data.changeToLang = '中文'
				        	lang = 'en'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = 'Eng'
				        	lang = 'ch'
				        }
	    				vm.langI18n(lang)
	    			},
	    			loadMatchData:function() {
	    				//$('#app').hide();
	    				$('.ui-loading-block').addClass("show");
	    				
	    				f$.loadBasketBallMatchData(vm.$data.domain,matchId, vm.$data.suffix).done(function(data) {
	    					var status = data.status;
	    	    			if(status=='error') {
	    	    				alert(data.message);
	    	    				return;
	    	    			}
	    	    			
	    	    			if(data.basketBallTeamMatchResultList && data.basketBallTeamMatchResultList.length>1) {
	    	    				vm.$data.hostTeamData = data.basketBallTeamMatchResultList[0];
		    	    			vm.$data.guestTeamData = data.basketBallTeamMatchResultList[1];
		    	    			vm.teamDataPrepare(vm.$data.hostTeamData, vm.$data.guestTeamData)
	    	    			}
	    	    			
	    	    			vm.loadPlayerMatchData();
	    	    		});
	    			},
	    			teamDataPrepare:function(host,guest){
	    				host.p2AColor = host.p2A > guest.p2A ? 'matchdatadeepskyblue':'matchdatagray'
	    				guest.p2AColor = guest.p2A > host.p2A ? 'matchdatadeepskyblue':'matchdatagray'
	    						
	    				host.p2MColor = host.p2M > guest.p2M ? 'matchdatadeepskyblue':'matchdatagray'
	    	    		guest.p2MColor = guest.p2M > host.p2M ? 'matchdatadeepskyblue':'matchdatagray'
	    	    		
	    	    		host.p3mColor = host.p3M > guest.p3M ? 'matchdatadeepskyblue':'matchdatagray'
	    	    	    guest.p3mColor = guest.p3M > host.p3M ? 'matchdatadeepskyblue':'matchdatagray'
	    	    				
	    	    		host.p3AColor = host.p3A > guest.p3A ? 'matchdatadeepskyblue':'matchdatagray'
	    	    	    guest.p3AColor = guest.p3A > host.p3A ? 'matchdatadeepskyblue':'matchdatagray'		
	    	    				
	    	    						
	    	    		host.ftaColor = host.fta > guest.fta ? 'matchdatadeepskyblue':'matchdatagray'
	    	    	    guest.ftaColor = guest.fta > host.fta ? 'matchdatadeepskyblue':'matchdatagray'		
	    	    				
	    	    	    host.ftmColor = host.ftm > guest.ftm ? 'matchdatadeepskyblue':'matchdatagray'
	    	    		guest.ftmColor = guest.ftm > host.ftm ? 'matchdatadeepskyblue':'matchdatagray'
	    	    						
	    	    		host.pfColor = host.pf > guest.pf ? 'matchdatared':'matchdatagray'
	    	    	    guest.pfColor = guest.pf > host.pf ? 'matchdatared':'matchdatagray'
	    	    	    		
	    	    	    host.rebColor = host.reb > guest.reb ? 'matchdatagreen':'matchdatagray'
	    	    	    guest.rebColor = guest.reb > host.reb ? 'matchdatagreen':'matchdatagray'
	    	    	    						
	    	    	    host.stlColor = host.stl > guest.stl ? 'matchdatagreen':'matchdatagray'
	    	    	    guest.stlColor = guest.stl > host.stl ? 'matchdatagreen':'matchdatagray'
	    	    	    
	    	    	    host.blkColor = host.blk > guest.blk ? 'matchdatagreen':'matchdatagray'
	    	    	    guest.blkColor = guest.blk > host.blk ? 'matchdatagreen':'matchdatagray'
	    						
	    	    	    host.astColor = host.ast > guest.ast ? 'matchdatagreen':'matchdatagray'
	    	    	    guest.astColor = guest.ast > host.ast ? 'matchdatagreen':'matchdatagray'	    	    	    		
	    	    	    
	    	    	    host.tovColor = host.tov > guest.tov ? 'matchdatared':'matchdatagray'
		    	    	guest.tovColor = guest.tov > host.tov ? 'matchdatared':'matchdatagray'
	    	    	    	    	    	    		
	    	    	    		
	    	    	    		
	    			},
	    			loadPlayerMatchData:function() {
	    				if(vm.$data.basketBallPlayerMatchResultList && vm.$data.basketBallPlayerMatchResultList.length > 0) {
	    					return;
	    				}
	    				
	    				$('.ui-loading-block').addClass("show");
	    				f$.loadBasketBallMatchPlayerData(vm.$data.domain,matchId,vm.$data.suffix).done(function(data) {
	    					var status = data.status;
	    	    			if(status=='error') {
	    	    				alert(data.message);
	    	    				return;
	    	    			}
	    	    			vm.$data.basketBallPlayerMatchResultList = data.basketBallPlayerMatchResultList || [];
	    	    			
	    	    			$.each(vm.$data.basketBallPlayerMatchResultList, function(i,v){
								if(v.playerImg && v.playerImg.indexOf('mmopen')>0){
									v.showWXLogo = true;
			    				}else{
			    					v.showWXLogo = false;
			    				}	
							})	 
	    	    			
							if(vm.$data.hostTeamData && vm.$data.hostTeamData.teamId){
								vm.$data.currentTeamResultList = _.where(vm.$data.basketBallPlayerMatchResultList, {teamId:vm.$data.hostTeamData.teamId})	
							}	    	    			

	    	    			$('.ui-loading-block').removeClass("show");
	    	    			
	    	    			vm.loadVideoData();
	    	    		});
	    				
	    			},
	    			loadMVPData:function() {
	    				
	    				if(vm.$data.basketBallPlayerMatchResultList && vm.$data.basketBallPlayerMatchResultList.length > 0) {
	    					$.each(vm.$data.basketBallPlayerMatchResultList, function(i,v) {
	    	    				if(v.mvp=="1" || v.mvp==1) {
	    	    					vm.$data.mvpPlayer = v;
	    	    				}
	    	    				if(v.teamMVP == '1' || v.teamMVP==1){
	    	    					vm.$data.teamMvpPlayer = v;
	    	    				}
	    	    			});
	    					return;
	    				}
	    			},
	    			loadVideoData:function(){
	    				$('#app').show();
    	    			$('.ui-loading-block').removeClass("show");
	    				currentShareURL = decodeURIComponent(location.href.split('#')[0])
	    				params = {
	    					matchId:matchId,
	    					shareUrl:shareUrlhandle(currentShareURL),
	    					content: 'Highlights'
	    				}
	    				//alert(currentShareURL)
	    				f$.loadMatchVideoData(vm.$data.domain, vm.$data.suffix, params).done(function(data) {
	    					var status = data.status;
	    	    			if(status=='error') {
	    	    				alert(data.message);
	    	    				return;
	    	    			}
														
	    	    			
	    	    			
	    	    			//wechat sharing
	    	    			currentPlayerSTeamItem = _.find(vm.$data.basketBallPlayerMatchResultList, function(i){ return i.playerId == Number(currentPlayer.id); })  
	    	    			if(currentPlayerSTeamItem == void 0 ){
	    	    				//如果当前用户不属于某一只球队，则获取主球队的logo
	    	    				shareImgUrl = 'http://static.footballer.cc/'+ vm.$data.hostTeamData.teamLogo
	    	    			}else{
	    	    				//获取当前用户所属球队得logo
	    	    				shareImgUrl = 'http://static.footballer.cc/'+ currentPlayerSTeamItem.teamLogo
	    	    			}
	    	    			
	    	    			vm.$data.videoInfo = data.videoInfo
	    	    			if(vm.$data.videoInfo != void 0){
	    	    				vm.$data.videoInfo.date =  formatToDateTimeString(new Date(vm.$data.videoInfo.date))
	    	    				
	    						wxJSSDKInit(0, 'wx8fcb7dc481af1d3c', currentShareURL, vm.$data.videoInfo.date + ' ' + vm.$data.videoInfo.name, shareDesc, shareImgUrl, vm.$data.shareContent)
	    	    			}
	    	    			
	    	    			
	    	    			
	    	    			vm.$data.commentsList = _.sortBy(data.commentsList, 'commentsTime')
	    	    			$.each(vm.$data.commentsList, function(i,v){
	    	    				v.commentsTime = formatToDateTimeString(new Date(v.commentsTime))
	    	    				if(v.playerLogo.indexOf('mmopen')>0){
	    	    					v.showWXLogo = true;
	    	    				}else{
	    	    					v.showWXLogo = false;
	    	    				}
	    	    			})
	    	    			
	    	    			vm.$data.supportList = data.supportList
	    	    			$.each(vm.$data.supportList, function(i,v){
	    	    				//v.commentsTime = formatToDateTimeString(new Date(v.commentsTime))
	    	    				if(v.playerLogo.indexOf('mmopen')>0){
	    	    					v.showWXLogo = true;
	    	    				}else{
	    	    					v.showWXLogo = false;
	    	    				}
	    	    			})
	    	    			
	    	    			if(_.findWhere(data.supportList, {playerId: Number(currentPlayer.id)}) != void 0){
	    	    				//已点赞 则激活当前点赞按钮
	    	    				$('#videoSupportBtn').attr('class', 'ui-icon-liked')
	    	    			}
	    					
	    					
	    					vm.$data.shareRecordList = data.shareRecordList
	    					$.each(vm.$data.shareRecordList, function(i,v){
	    	    				if(v.playerLogo && v.playerLogo.indexOf('mmopen')>0){
	    	    					v.showWXLogo = true;
	    	    				}else{
	    	    					v.showWXLogo = false;
	    	    				}
	    	    			})
	    	    		});
	    			},
	    			showCurrentTeamData:function(e){
	    				$('.ui-btn').removeClass('ui-btn-primary');
	    				var $target = $(e.target)
	    				$target.addClass('ui-btn-primary');	    				
	    				
                    	var currentTeamId = $target.attr('id')
                    	vm.$data.currentTeamResultList = _.where(vm.$data.basketBallPlayerMatchResultList, {teamId:Number(currentTeamId)})
	    			},
	    			clickSupport:function(e){
	    				currentVideoId = $(e.target).attr('data-video-id')
	    				var params = {
	    	    					videoId: currentVideoId,	
	    	    					playerId:currentPlayer.id
							}
	    				if($(e.target).attr('class') == 'ui-icon-liked'){
	    					//取消赞
	    					f$.removeUserSupportFromVideoItem(vm.$data.domain, vm.$data.loggedUserSessionKey, vm.$data.suffix, params).done(function(data) {
	    						$(e.target).toggleClass('ui-icon-like ui-icon-liked');
	    						
		    	    			vm.$data.supportList = _.without(vm.$data.supportList, _.findWhere(vm.$data.supportList, {playerId: Number(currentPlayer.id)}));
		    	    		});  	    					
	    				}else{
	    					//点赞
	    					f$.addSupportToVideoItem(vm.$data.domain, vm.$data.loggedUserSessionKey, vm.$data.suffix, params).done(function(data) {
	    						$(e.target).toggleClass('ui-icon-like ui-icon-liked');
	    						
	    						var newSuppotItem={
	    	    						playerId : Number(currentPlayer.id),
	    	    	    				playerName : decodeURI(currentPlayer.name),
	    	    	    				playerLogo : currentPlayer.logo,
	    	    	    				showWXLogo: currentPlayer.showWXLogo,
	    	    	    				status : true,
	    	    	    				type : "AGREE"
	    	    					}
	    	    				vm.$data.supportList.push(newSuppotItem)
		    	    		});  
	    				}
	    			},
	    			addComments:function(){
	    				comments = $('#say').val().trim()
	    				
	    				var params = {
	    					videoId: vm.$data.videoInfo.id,	
	    					playerId:currentPlayer.id,
	    					comments:comments
	    				}
	    				
	    				f$.addCommentsToVideo(vm.$data.domain, vm.$data.loggedUserSessionKey, vm.$data.suffix, params).done(function(data) {
	    					var newCommentItem={
	    						playerId : currentPlayer.id,
	    	    				playerName : decodeURI(currentPlayer.name),
	    	    				playerLogo : currentPlayer.logo,
	    	    				showWXLogo: currentPlayer.showWXLogo,
	    	    				comments : comments,
	    	    				commentsTime : formatToDateTimeString(new Date(_.now()))		
	    					}
	    					vm.$data.commentsList.push(newCommentItem)
	    					$('#say').val('')
	    	    		});    				
	    			},
	    			clickPlayerItem:function(e) {
	                	var $target = $(e.target)
	                	$target = $target.is('ul') ? $target : $(e.target).parents('ul')
	                	var playerId = $target.attr('id')
	                	
	                    var jsonObj = {
	                		"playerId" : playerId,
	                		"tournamentId":tournamentId,
	                	}
	    				var json= encodeURIComponent(JSON.stringify(jsonObj))	
	                	location.href = vm.$data.domain+'footballer/mobile/match/basketball/bbPlayerDashboard.html'+'?json='+json;		
	    			}
	    		}
	    	});
	    	
    		vm.init();
    		//$('.ui-loading-block').removeClass("show");
    		
			function tabinit()
    		{
    			var tab = new fz.Scroll('.ui-tab', {
			        role: 'tab',
			        autoplay: false,
				});
    			//第一次进入就分享
    			aufSportsLogoUrl = 'http://wx.qlogo.cn/mmopen/ibiaAb10J1JUnJBDU8DaEOKaibp4ndpSupicESq88MYj2bHfzZ0aEdj4tHcO8PuicTjIsFWAiaoHYK97d6LJ0micVGgU50TkPNwWURe/0'
    			wxJSSDKInit(0, 'wx8fcb7dc481af1d3c', currentShareURL, vm.$data.videoInfo.date + ' ' + vm.$data.videoInfo.name, shareDesc, aufSportsLogoUrl, 'TeamData')
				
				tab.on('scrollEnd', function(curPage) {
					if(curPage ==0) {
						vm.$data.toggleComments = false;
						vm.$data.shareContent='TeamData' 
					} else if(curPage==1){
						vm.$data.toggleComments = false;
						vm.$data.shareContent='PlayerData'
					} else if(curPage==2){
						vm.$data.toggleComments = false;
						if(vm.$data.mvpPlayer==null) {
							vm.loadMVPData();
						}
						vm.$data.shareContent='MVP'
					} else if (curPage==3) {
						vm.$data.toggleComments = true;
						vm.$data.shareContent='Highlights'
					}
					
			    });
			}
			
    		$('.ui-list li,.ui-tiled li').click(function(){
    		        if($(this).data('href')){
    		            location.href= $(this).data('href')+'?arenaId='+f$.cache('arenaId')
    		        }
    		});        	
        });
          
</script>
    </body>
</html>