<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title></title>
        <link rel="stylesheet" href="../../css/frozen.css">
        <link rel="stylesheet" href="../../css/drawer.min.css">
        <link rel="stylesheet" href="../../css/match.css">
        <link rel="stylesheet" href="../../../css/justin_mobile_common.css">
        
        <style>
        	.ui-btn-primary {
        		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#25b359),to(#25b359));
        	}
        	
        </style>
    </head>
    
<body class="drawer drawer--left">
	
	<div class="ui-loading-block show">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	        <p>loading...</p>
	    </div>
	</div>

	<div id="app" v-cloak>
    	<header class="ui-header ui-header-positive ui-border-b">
    	    <i class="ui-icon-return" onclick="historyBack('football')"></i>    	
    		<center>注册参赛</center>
            <button id="langBtn" class="ui-btn" v-on:click="toggleLanguage">{{changeToLang}}</button>	
        </header>
        
       <section class="ui-container">
           <div v-show="!isRegistered" style="display:none" v-cloak>
		       <br>
		       <div class="ui-form-item ui-form-item-switch">
		            <p>
		                以新增球队参赛
		            </p>
		            <label class="ui-switch">
		                <input type="checkbox" v-model="isCreateTeam" checked>
		            </label>
		        </div>
		       <br>
		        <div class="ui-form ui-border-t">
				    <form action="#">
				        <div class="ui-form-item ui-border-b">
				            <label>
				                球队名称
				            </label>
				            <input type="text" placeholder="球队名称" v-model="team.name">
				            <a href="#" class="ui-icon-close">
				            </a>
				        </div>
				        <div class="ui-form-item ui-form-item-textarea ui-border-b">
				            <label>
				                球队 logo
				            </label>
				             <input type="text" placeholder="球队 logo" v-model="team.logo">
				             <a href="#" class="ui-icon-close"></a>
				        </div>
				    </form>
				</div>
				
			   <br>
		       <div class="ui-form-item ui-form-item-switch">
		            <p>
		                以已有球队参赛
		            </p>
		        </div>
		       <br>
		       <ul v-for="team in teamList" v-on:click="clickTeamItem(team, $event)" class="ui-list ui-list-one ui-list-link ui-border-tb">
				    <li class="ui-border-t">
				    	<div class="ui-list-thumb" v-show="!isCreateTeam">
					    	<label class="ui-radio" for="radio">
			                	<input type="radio" name="radio">
			            	</label>
		            	</div>
				        <div class="ui-list-thumb">
				            <span style="background-image:url(http://static.footballer.cc/{{team.logo}})"></span>
				        </div>
				        <div class="ui-list-info">
				            <h4 class="ui-nowrap">{{team.name}}</h4>
				            <div class="ui-txt-info">{{team.number}}</div>
				        </div>
				    </li>
				</ul>
			</div>
		
	   <br>
       <div class="ui-form-item ui-form-item-switch">
            <p>
                已注册当前赛事的球队
            </p>
            <!--  
            <label class="ui-switch">
                <input type="checkbox" v-model="isCreateTeam" checked>
            </label>
            -->
        </div>
       <br>
       <ul v-for="team in registeredTeams" v-on:click="clickTeamItem(team, $event)" class="ui-list ui-list-one ui-list-link ui-border-tb">
		    <li class="ui-border-t">
		        <!--  
		    	<div class="ui-list-thumb" v-show="!isCreateTeam">
			    	<label class="ui-radio" for="radio">
	                	<input type="radio" name="radio">
	            	</label>
            	</div>
            	-->
		        <div class="ui-list-thumb">
		            <span style="background-image:url(http://static.footballer.cc/{{team.logo}})"></span>
		        </div>
		        <div class="ui-list-info">
		            <h4 class="ui-nowrap">{{team.name}}</h4>
		            <div class="ui-txt-info">{{team.number}}</div>
		        </div>
		    </li>
		</ul>       
       
	   </section>
		
		<div class="ui-btn-wrap">
		    <button v-show="!isRegistered" class="ui-btn-lg ui-btn-primary" v-on:click="register">
		      注册
		    </button>
		    <button v-show="isRegistered" class="ui-btn-lg ui-btn-primary" v-on:click="checkAllRegisterTeams">
		      查看参赛信息
		    </button>
		</div>

		<div style="text-align: center;margin: 10px 0px 30px 0px" onclick="aufFooterRedirect()">
			<img src="../../image/auf_logo_wechat_footer_1000_v1_alpha.png" width="160px" height="20px" >
		</div>
	
	</div>

<script src="../../../i18n/env.js"></script>
<script src="../../../js/jquery-1.11.2.min.js" type="text/javascript"></script>  
<script src="../../js/lib/zeptojs/zepto.min.js"></script>
<script src="../../js/frozen.js"></script>
<script src="../../js/server/service.js"></script>
<script src="../../../js/justin_common.js"></script>
<script src="../../js/lib/vue.min.js"></script>
<script src="../../js/lib/underscore-min.js"></script>
<script src="../../../js/jquery.i18n.properties-min-1.2.2.js" type="text/javascript" ></script>
<script src="../../js/iscroll.min.js"></script>
<script src="../../js/drawer.min.js"></script>

<script>

h5Init()

$(document).ready(function() {
	
    		var vm,
			lang = f$.cache('lang'),
			tournamentId = getParameter(window.location.href ,"tournamentId"),
	    	urlLang = getParameter(window.location.href ,"lang") 
	    	if(urlLang){
	    		lang = urlLang
	    		f$.cache('lang', urlLang)
	    	}
    		
	    	vm = new Vue({
	    		el   : '#app',
	    		data : {
	    			domain:'',
	    			suffix:'',
	    			changeToLang:'',
	    			title_register:'loading',
	    			isCreateTeam : true,
	    			team : {},
	    			teamList:[],
	    			tournamentTeamBaseInfoList : [],
	    			registeredTeams : [],
	    			isRegistered : false
	    		},
	    		methods: {
	    			init:function() {
	    				vm.$data.domain =  GLOBAL_VAR_DOMAIN;
				        vm.$data.suffix = GLOBAL_VAR_SUFFIX;
				        
				        if(lang == 'ch'){
	    					vm.$data.changeToLang = 'Eng'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = '中文'
				        }
				        vm.langI18n(lang)
				        
				        vm.$data.loggedUserAvatar = f$.cache('uesr_current_peopleImgUrl');
				        vm.loadData();
 	    				$('title').text(vm.$data.labelTournaments)
	    			},
	    			toggleLanguage : function(){
	    				if(lang == 'ch'){
	    					vm.$data.changeToLang = '中文'
				        	lang = 'en'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = 'Eng'
				        	lang = 'ch'
				        }
	    				vm.langI18n(lang)
	    			},
	    			langI18n : function(lang){
	    				$.i18n.properties({// 加载中文properties文件  
	    	    		    name:'lan', // properties文件名称  
	    	    		    path:'../../../i18n/', // properties文件路径  
	    	    		    mode:'map', // 用 Map 的方式使用资源文件中的值
	    	    		    language:lang,
	    	    		    checkAvailableLanguages: true,
	    	    		    callback: function() {// 加载成功后设置显示内容  
	    	    		    	vm.$data.title_register =  $.i18n.prop('title_register');
	    	    		    }
	    	    		});
	    			},
	    			loadData : function() {
	    				//TODO: add test code
	    				var currentPlayer = f$.cacheObj('currentPlayer') || {id : 1}
	    				f$.findTeamsByCaptainUserId(vm.$data.domain,vm.$data.suffix, currentPlayer.id).done(function(data) {
	    					vm.$data.teamList = data.list
	    					f$.loadTournamentTeamList(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
		    	    			vm.$data.tournamentTeamBaseInfoList = data.tournamentTeamBaseInfoList || []
		    	    			
		    	    			var teamIdList = _.pluck(vm.$data.teamList, 'teamId'),
		    	    			    registerTeamIdList = _.pluck(vm.$data.tournamentTeamBaseInfoList, 'teamId'),
		    	    				presentTeamIdList = _.intersection(teamIdList, registerTeamIdList)
		    	    				
		    	    			vm.$data.registeredTeams = _.filter(vm.$data.teamList, function(team) {
		    	    					return _.contains(presentTeamIdList, team.id)
		    	    				})
		    	    			vm.$data.isRegistered = vm.$data.registeredTeams.length > 0
		    	    			
		    	    			$('.ui-loading-block').removeClass("show");
		    	    		})
	    	    		});
	    			},
	    			clickTeamItem : function(team, e) {
	    				vm.$data.team.id = team.id
	    			},
	    			register : function() {
	    				var navigateParams = tournamentId+ '&lang='+f$.cache('lang'),
	    				    navigateURL = vm.$data.domain + 'footballer/mobile/match/football/tournamentTeamList.html?tournamentId=' + navigateParams
	    				    
	    				vm.$data.team.tournamentId = tournamentId
	    				vm.$log()
	    				
	    				f$.registerTournementByTeam(vm.$data.domain,vm.$data.suffix, vm.$data.team).done(function() {
	    					location.href = navigateURL
	    				});
	    				
	    			},
	    			checkAllRegisterTeams : function() {
	    				var navigateParams = tournamentId+ '&lang='+f$.cache('lang'),
    				    navigateURL = vm.$data.domain + 'footballer/mobile/match/football/tournamentTeamList.html?tournamentId=' + navigateParams
    				    location.href = navigateURL
	    			}
	    		}
	    	});
	    	
   vm.init();
});
          
</script>
    </body>
</html>