<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title></title>
        <link rel="stylesheet" href="../../css/frozen.css">
        <link rel="stylesheet" href="../../../css/justin_mobile_common.css">
        <link rel="stylesheet" href="../../css/match.css">
    </head>

<body>

	<div class="ui-loading-block show">
	    <div class="ui-loading-cnt">
	        <i class="ui-loading-bright"></i>
	    </div>
	</div>
	
	<div id="app" v-cloak>
		<header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="historyBack('football')"></i>
            <h1>{{labelTournamentStats}}</h1>
            <button id="langBtn" class="ui-btn" v-on:click="toggleLanguage">{{changeToLang}}</button>
        </header>
       <section class="ui-container">
       		<div class="demo-block">
				<div class="ui-tab">
				    <ul class="ui-tab-nav ui-border-b">
				        <li class="current">{{labelTable}}</li>
				        <li>{{labelResult}}</li>
				        <li>{{labelTop}}</li>
				        <!-- <li>{{labelHighlight}}</li> -->
				    </ul>
				    <ul class="ui-tab-content" style="width:300%">
				        <li>
							<div v-for="row in teamStandingList">
								<h3>{{row.groupName}}</h3>
								<ul v-for="t in row.items" class="ui-list ui-list-one ui-border-b" v-on:click="clickTeamResultItem" id="{{t.teamId}}">
								    <li class="ui-border-t">
								        <div class="ui-list-text" style="text-align: center;width:15px;">
								            <div style="margin: 10px 8px 0px -5px;font-weight: bold;color: cadetblue;width:15px;">{{$index+1}}</div> 
								        </div>
								        <div class="ui-list-thumb">
								            <span style="background-image:url(http://static.footballer.cc/{{t.teamLogo}});"></span> 
								        </div>
								        <div class="font_long_ellipsis" style="width: 110px;margin: 13px 5px 0 0;font-size: 15px;">
								            <span>{{t.teamName}}</span>
								        </div>
								        <div class="ui-list-info" style="text-align: center;color: cornflowerblue;width:10px">
								            <span class="span14">{{t.totalMatches}}</span>
								        </div>
								       
								       	<div class="ui-list-info txtAg-l" style="padding-left:5px;">
								            <span class="span14">
								            	<b style="color:green;">{{t.totalWin}}</b>
								            	/{{t.totalDraw}}/
								            	<b style="color:red">{{t.totalLose}}</b>
								            </span>
								       	</div>
								        <div class="ui-list-info txtAg-l" style="text-align:right;padding-left:2px;">
								            	<span class="span14">
								            		<i style="color:green">{{t.totalGoals}}</i>
								            		/<i style="color:red">{{t.totalConceded}}</i>
								            		/{{t.totalGoalDifference}}
								            	</span>
								        </div>
								        <div class="ui-list-info" style="text-align:right;padding-left:5px;color:green">{{t.totalPoints}}</div>
								    </li>
								</ul>
							</div>
							
						</li>
				        <li>
							<div v-for="row in tournamentMatchList">
				        		
								<h3 style="text-align: center;">{{row.displaykickOffTime}}</h3>
								<ul v-for="i in row.items" class="ui-row-flex ui-border-tb" style="background-color: white;" v-on:click="clickMatchItem" id="{{i.id}}" data-result="{{i.result}}" data-matchtime="{{i.displayTime}}" data-videoUrl="{{i.videoUrl}}">
								    <li class="ui-col ui-flex-var ui-flex-pack-end" style="width:30%;text-align: center;padding:5px 0px 5px 0px">
								    	<div class="ui-list-thumb" style="margin: auto;"><img src="http://static.footballer.cc/{{i.hostTeamLogo}}" style="margin:auto;width:100%; height:100%;"></div>
									    <div class="font_long_ellipsis"><span style="font-size:12px;">{{i.hostTeamName}}</span></div>
								    </li>
								    <li class="ui-col ui-flex-pack-center" style="width:40%;text-align: center;padding:5px 0px 5px 0px">
								    	<div v-if="i.result" style="display: inline-flex;">
								    		<img src="../../../img/analysis/dataAnalysis.png" style="width:19%;height:19%;padding: 0px 3px 0px 15px;">
								    		<span style="font-size: 16px;background-color: darkseagreen;width: 50%;display: inline-table;color: white;">
								    			{{i.result}}
								    		</span>
								    	</div>
								    	<div v-else>
										  	<span style="font-size:14px;color: green;">{{labelUpcoming}}</span>
										</div>
									    <div><span style="font-size:12px;">{{i.displayTime.substr(0, i.displayTime.length-3)}}</span></div>
									    <div><span style="font-size:12px;">{{i.typeName}}  {{i.fieldName}}</span></div>
								    </li>
								    <li class="ui-col ui-flex-ver ui-flex-pack-end" style="width:30%;text-align: center;padding:5px 0px 5px 0px">
								    	<div class="ui-list-thumb" style="margin: auto;"><img src="http://static.footballer.cc/{{i.guestTeamLogo}}" style="width:100%; height:100%;"></div>
									    <div class="font_long_ellipsis"><span style="font-size:12px;">{{i.guestTeamLabel}}</span></div>
								    </li>
								</ul>
							</div>
				        </li>
				        <li>
				        	<div class="ui-btn-group ui-border-b" style="margin:3px 0 3px 0">
							    <button id="typeBtn" name="player" class="ui-btn-s ui-btn-primary" v-on:click="typeClick">
							        {{labelPlayer}}
							    </button>
							    <button id="typeBtn" name="team" class="ui-btn-s" v-on:click="typeClick">
							        {{labelTeam}}
							    </button>
							</div>
							
							<div class="ui-scroller" style="width:auto;overflow:hidden;">
							    <ul style="display: inline-flex;background-color: #f8f8f8;">
							        <li id="statsItemLi" name="mvp" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="background-color:#25b359;text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/MVP.png" style="width:50px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelMVP}}</div>
									</li>
									<li id="statsItemLi" name="teamMVP" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/teamMVP.png" style="width:50px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelTeamMvp}}</div>
									</li>
									<li id="statsItemLi" name="goals" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/goals.png" style="width:35px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelGoal}}</div>
									</li>
									<li id="statsItemLi" name="shots" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<!-- <img src="../../../img/analysis/shots.png" style="width:35px;height: 35px;"> -->
										<img src="../../../img/football/shoot300_3u.png" style="width:35px;height: 35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelShot}}</div>
									</li>
									<li id="statsItemLi" name="goalEfficiency" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/football/goal_efficiency300.png" style="width:35px;height: 35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelGoalEfficiency}}</div>
									</li>
									<li id="statsItemLi" name="assists" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/assists.png" style="width:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelAssist}}</div>
									</li>
									<li id="statsItemLi" name="passFinalBall" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/pass_finalball.png" style="width:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelKpass}}</div>
									</li>
									<li id="statsItemLi" name="keyDefense" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/key_defense.png" style="width:35px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelKdefense}}</div>
									</li>
									<li id="statsItemLi" name="save" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/save.png" style="width:35px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelSave}}</div>
									</li>
									<li id="statsItemLi" name="fouls" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/foul.png" style="width:35px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelFoul}}</div>
									</li>
									<li id="statsItemLi" name="yellowCard" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/yellowCard.png" style="width:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelYellowCard}}</div>
							         		</li>
							        <li id="statsItemLi" name="redCard" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 7px 0 7px;">
										<img src="../../../img/analysis/redCard.png" style="width:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelRedCard}}</div>
									</li>
									<li id="statsItemLi" name="ownGoals" v-on:click="statsItemClick" class="ui-col ui-flex ui-flex-ver" style="text-align: center;line-height: 12px;padding: 0 50px 0 7px;">
										<img src="../../../img/analysis/ownGoals.png" style="width:50px;height:35px;">
									    <div class="font_long_ellipsis" style="font-size:12px;font-weight: 200;">{{labelOwnGoal}}</div>
									</li>
							    </ul>
							</div>
									
							<ul v-show="dataShowTag == 'player'" v-for="row in playerStatsItemDisplayList" class="ui-list ui-list-one ui-border-b" v-on:click="clickPlayerItem" id="{{row.playerId}}">
							    <li v-if='$index<3' class="ui-border-t" style="height:85px;" >
							    	<ul class="ui-row-flex">
									    <li class="ui-col ui-flex ui-flex-ver ui-flex-pack-start">
									    	<table >
									    		<tr>
									    			<td><span style="font-size:16px;font-weight: bold;color:#18b4ed;">{{$index+1}}</span></td>
									    			<td><span class="ui-nowrap" style="padding-left:10px;font-size:16px;">{{row.playerName}}</span></td>
									    		</tr>
									    		<tr>
									    			<td></td>
									    			<td colspan="2">
									    				<div style="display:inline-flex;">
									    					<img src='http://static.footballer.cc/{{row.teamLogo}}' style="width: 30px;height: 30px;padding-left:10px;"></img>
									    					<div style="margin:-6px 0 0 5px;font-size: 16px;">{{row.nameAbbr}}</div>
									    					<div style="margin:-5px 0 0 5px;font-size: 12px; color:darkgrey">{{row.teamNumber}}</div>
									    					<div style="margin:-5px 0 0 5px;font-size: 12px; color:lightseagreen">{{row.teamPosition}}</div>
									    				</div>
									    			</td>
									    			<td></td>
									    		</tr>
									    	</table>
										</li>
									    <li class="ui-col ui-flex  ui-flex-align-end ui-flex-pack-end">
									    	<div v-if="row.playerImg" class="ui-avatar-lg">
							            		<img v-if="row.showWXLogo" src="{{row.playerImg}}" style="width: 70px;height: 70px;">
							            		<img v-else src="http://static.footballer.cc/{{row.playerImg}}" style="width: 70px;height: 70px;">
									        </div>
									        <div v-else class="ui-avatar-lg">
									        	<img src="../../../img/app/football_career_edited_2.png" style="width: 70px;height: 70px;background-color: white;"></img>
									        </div>
									        	
									        <div v-if="row.showPercent">
									        	<p style="width:44px;color:deeppink;font-size:22px;margin: 0px 30px -20px 0px">{{row.itemCount}}</p>
									        	<label class="fs12 pl5">{{row.goals}} / {{row.shots}}</label>	
									        </div>
									        <div v-else style="color:deeppink;font-size:22px;margin: 0px 10px 10px 0px;">{{row.itemCount}}</div>
									        
									    </li>
									</ul>
							    </li>
							    <li v-else class="ui-border-t" style="height: 50px;">
							        <div class="ui-list-text" style="text-align: center;width:20px;">
							         	<div class="ui-txt-info" style="padding: 3px 10px 10px 0px;font-weight: bold;font-size:13px;">{{$index+1}}</div>
								    </div>
							        
							        <div v-if="row.playerImg" class="ui-avatar-tiled" style="margin: 10px 5px 0px 0px;">
							            <span v-if="row.showWXLogo" style="background-image:url({{row.playerImg}})"></span>
							            <span v-else style="background-image:url(http://static.footballer.cc/{{row.playerImg}})"></span>
							        </div>
							        <div v-else class="ui-list-thumb-s" style="margin-right: 7px;">
							        	<img src="../../../img/app/football_career_edited_2.png" style="width:120%;height:120%;"></img>
							        </div>
							        <div style="width:90px;padding: 3px 5px 0 0">
							            <h4 class="ui-nowrap">{{row.playerName}}</h4>
							        </div>
							        
							        <div style="display: inline-flex;padding-top: 3px;width:82px;">
							        	<div class="ui-list-thumb-s" style="margin: 7px 3px 0px 0px;">
							            	<span style="background-image:url(http://static.footballer.cc/{{row.teamLogo}}); width:28px"></span> 
							        	</div>
							            <!-- <div class="ui-txt-info">{{row.nameAbbr}}</div> -->
							            <div class="fs12 pl5" style="color:darkgrey">{{row.teamNumber}}</div>
							            <div class="fs12 pl5 ui-nowrap" style="color:lightseagreen">{{row.teamPosition}}</div>
							            
							        </div>
							        <div v-if="row.showPercent" class="ui-list-text txtAg-l" style="width:30px;padding: 3px 3px 0 8px;">
							            	<label class="c_green fs14">{{row.itemCount}}</label>
							        </div>
							        <div v-if="row.showPercent" class="ui-list-text txtAg-l" style="padding: 3px 3px 0 8px;">
							            	<label class="fs8 pl2">{{row.goals}}/{{row.shots}}</label>
							        </div>
							        <div v-else class="ui-list-text" style="color:green;text-align:right;padding: 3px 3px 0 8px;">
							            	{{row.itemCount}}
							        </div>
							    </li>
							</ul>
							
							<ul v-show="dataShowTag == 'team'" v-for="row in teamStatsItemDisplayList" class="ui-list ui-list-one ui-border-b" v-on:click="clickTeamItem"
				id="{{row.teamId}}">
							    <li class="ui-border-t" style="height: 50px;">
							        <div class="ui-list-text" style="text-align: center;width:20px;">
							            <div class="ui-txt-info" style="padding: 3px 10px 10px 0px;font-weight: bold;font-size:13px;">{{$index+1}}</div> 
							        </div> 
							        <div class="ui-list-thumb-s" style="margin: 11px 10px 0px 0px;">
							            <span style="background-image:url(http://static.footballer.cc/{{row.teamLogo}})"></span> 
							        </div>
							        <div class="ui-txt-info" style="width: 55%;">
							            <span style="margin-top: 3px;display: block;">{{row.teamName}}</span> 
							        </div>
							        
							        <div v-if="row.showPercent" class="txtAg-l" style="display: inline-flex;padding: 0px;width:30px">
							            <label class="fs14 c_green" >{{row.itemCount}}</label>
							        </div>
							        <div v-if="row.showPercent" class="txtAg-l" style="display: inline-flex;padding: 0px;">
							            <label class="fs8 pl5">{{row.goals}}/{{row.shots}}</label>
							        </div>
							        <div v-else class="ui-list-info" style="padding: 0px;">
							            <div class="ui-txt-info" style="color:green;">{{row.itemCount}}</div>
							        </div>
							    </li>
							</ul>					
				        </li>
				        <li>
				        </li>
				    </ul>
				</div>
			</div>
       
       
       
       
		</section>

		<div style="text-align: center;margin: 10px 0px 30px 0px" onclick="aufFooterRedirect()">
			<img src="../../image/auf_logo_wechat_footer_1000_v1_alpha.png" width="160px" height="20px" >
		</div>
		
	</div>

<script src="../../../i18n/env.js"></script>
<script src="../../../js/jquery-1.11.2.min.js" type="text/javascript"></script>     
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>    
<script src="../../js/lib/zeptojs/zepto.min.js"></script>
<script src="../../js/frozen.js"></script>
<script src="../../js/server/service.js"></script>
<script src="../../../js/justin_common.js"></script>
<script src="../../js/lib/vue.min.js"></script>
<script src="../../js/lib/underscore-min.js"></script>
<script src="../../../js/jquery.i18n.properties-min-1.2.2.js" type="text/javascript" ></script>


<script>
accessStats()


$(document).ready(function() {
        	
			
    		var vm,
	    	playerId = f$.cache('playerid'),
	    	lang = f$.cache('lang')
	    		
	    	//json = $.parseJSON(decodeURIComponent(getParameter(window.location.href ,"json")))
	    	//tournamentId = json.tournamentId
	    	tournamentId = getParameter(window.location.href ,"tournamentId")
	    	
	    	vm = new Vue({
	    		el   : '#app',
	    		data : {
	    			domain:'',
	    			suffix:'',
	    			changeToLang:'',
	    			labelTournamentStats:'',
	    			labelTeam:'',
	    			labelPlayer:'',
	    			labelTable:'',
		        	labelResult:'',
		        	labelTop:'',
		        	labelHighlight:'',
		        	labelMVP:'',
    		        labelTeamMvp:'',
    		        labelGoal:'',
    		        labelShot:'',
    		        labelAssist:'',
    		        labelKpass:'',
    		        labelKdefense:'',
    		        labelSave:'',
    		        labelFoul:'',
    		        labelYellowCard:'',
    		        labelRedCard:'',
    		        labelOwnGoal:'',
		        	labelUpcoming:'',
		        	labelGoalEfficiency:'',
		        	dataShowTag:'player',
		        	matchNotStartHint:'',
		        	teamStandingList:[],
		        	tournamentMatchList:[],
		        	playerMatchResultList:[],
		        	teamMatchResultList:[],
		        	playerStatsItemDisplayList:[],
		        	teamStatsItemDisplayList:[],
	    		},
	    		methods: {
	    			init:function(){
	    				vm.$data.domain =  GLOBAL_VAR_DOMAIN;
				        vm.$data.suffix = GLOBAL_VAR_SUFFIX;
				        
				        if(lang == 'ch'){
	    					vm.$data.changeToLang = 'Eng'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = '中文'
				        }
				       	vm.langI18n(lang)
				        
 	    				$('title').text(vm.$data.labelTournamentStats)
	    				tabInit();
	    				scrollInit();
	    				vm.loadData();
	    			},
	    			langI18n : function(lang){
	    				$.i18n.properties({// 加载中文properties文件  
	    	    		    name:'lan', // properties文件名称  
	    	    		    path:'../../../i18n/', // properties文件路径  
	    	    		    mode:'map', // 用 Map 的方式使用资源文件中的值
	    	    		    language:lang,
	    	    		    checkAvailableLanguages: true,
	    	    		    callback: function() {// 加载成功后设置显示内容  
	    	    		    	vm.$data.labelTournamentStats= $.i18n.prop('tournamentStats');
	    	    		    	vm.$data.labelTable =  $.i18n.prop('tournament_stats_tab_table');
	    	    		        vm.$data.labelResult =  $.i18n.prop('tournament_stats_tab_result');
	    	    		        vm.$data.labelTop =  $.i18n.prop('tournament_stats_tab_top');
	    	    		        vm.$data.labelHighlight =  $.i18n.prop('tournament_stats_tab_highlight');
	    	    		        vm.$data.labelUpcoming =  $.i18n.prop('tournament_stats_result_upcoming');
	    	    		        vm.$data.labelTeam =  $.i18n.prop('team');
	    	    		        vm.$data.labelPlayer =  $.i18n.prop('player');
	    	    		        vm.$data.labelMVP =  $.i18n.prop('mvp');
	    	    		        vm.$data.labelTeamMvp =  $.i18n.prop('teamMvp');
	    	    		        vm.$data.labelGoal =  $.i18n.prop('goal');
	    	    		        vm.$data.labelShot =  $.i18n.prop('shot');
	    	    		        vm.$data.labelGoalEfficiency = $.i18n.prop('goalEfficiency');
	    	    		        vm.$data.labelAssist =  $.i18n.prop('assist');
	    	    		        vm.$data.labelKpass =  $.i18n.prop('kpass');
	    	    		        vm.$data.labelKdefense =  $.i18n.prop('kdefense');
	    	    		        vm.$data.labelSave =  $.i18n.prop('save');
	    	    		        vm.$data.labelFoul =  $.i18n.prop('foul');
	    	    		        vm.$data.labelYellowCard =  $.i18n.prop('yellowCard');
	    	    		        vm.$data.labelRedCard =  $.i18n.prop('redCard');
	    	    		        vm.$data.labelOwnGoal =  $.i18n.prop('ownGoal');
	    	    		        vm.$data.matchNotStartHint=$.i18n.prop('matchNotStartHint');
	    	    		    }
	    	    		});
	    			},
	    			toggleLanguage : function(){
	    				if(lang == 'ch'){
	    					vm.$data.changeToLang = '中文'
				        	lang = 'en'
				        }else if(lang == 'en'){
				        	vm.$data.changeToLang = 'Eng'
				        	lang = 'ch'
				        }
	    				vm.langI18n(lang)
	    			},
	    			loadData:function(){
	    				//el = $.loading({content:'加载...'})
	    				f$.loadTournamentGourpStandings(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    	    			//el.loading('hide')
	    	    			 vm.$data.teamStandingList= _.chain(data.teamStandingList).groupBy('groupName').map(function(value, key) {
	                            return {
	                                groupName: key,
	                                items: _.chain(value).sortBy('totalGoalDifference').sortBy('totalPoints').reverse().value()
	                                	//_.sortBy(value, 'totalPoints').reverse()
	                            }
	                        }).sortBy('groupName').value()
	    	    			
	    	    		})	
	    	    		
	    	    		f$.loadTournamentMatchList(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    	    			//el.loading('hide')
	    	    			$.each(data.tournamentMatchList, function(i,v){
	    	    				v.displaykickOffTime = v.displayTime.substr(0,10)  
	    	    			})
	    	    			
	    	    			data.tournamentMatchList= _.chain(data.tournamentMatchList).groupBy('displaykickOffTime').map(function(value, key) {
	                            return {
	                            	displaykickOffTime: key,
	                                //items: _.sortBy(value, 'displayTime').reverse()
	                                items: _.sortBy(value, 'displayTime')
	                            }
	                        }).sortBy('displaykickOffTime').value()
	                        //.reverse()
	    	    			
	    	    			vm.$data.tournamentMatchList = data.tournamentMatchList || []
	    	    		})
	    	    		
	    	    		f$.loadPlayerMatchResultList(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    	    			vm.$data.playerMatchResultList = data.playerMatchResultList || []
	    	    			
	    	    			_.each(vm.$data.playerMatchResultList, function(i){ 
	    	    					if(i.goals > 1){
	    	    						i.goalEfficiency = (i.goals/i.shots).toFixed(3)	
	    	    					}
	    	    			});
	    	    			vm.displayPlayerStatsItem(vm.$data.playerMatchResultList, 'mvp');
	    	    		})
	    	    		
	    	    		f$.loadTeamMatchResultList(vm.$data.domain,vm.$data.suffix, tournamentId).done(function(data) {
	    	    			vm.$data.teamMatchResultList = data.teamMatchResultList || []
	    	    			_.each(vm.$data.teamMatchResultList, function(i){ i.goalEfficiency = (i.goals/i.shots).toFixed(2)});
	    	    			
	    	    			vm.displayTeamStatsItem(vm.$data.teamMatchResultList, 'goals');
	    	    		})
	    			},
	    			typeClick:function(e){
	    				$('button#typeBtn').removeClass('ui-btn-primary')
	    				$(e.target).addClass('ui-btn-primary')
	    				var type = $(e.target).attr('name')
	    				vm.$data.dataShowTag = type 
	    				
	    				if(type == 'team'){
	    					$('li[name="mvp"]').hide()
	    					$('li[name="teamMVP"]').hide()
	    					$('li#statsItemLi').css('backgroundColor','#f8f8f8')
	    					$('li[name="goals"]').css('backgroundColor','#25b359')
	    					vm.displayTeamStatsItem(vm.$data.teamMatchResultList, 'goals');
	    				}else{
	    					$('li[name="mvp"]').show()
	    					$('li[name="teamMVP"]').show()
	    				}
	    			},
	    			statsItemClick:function(e){
	    				var type = $(e.target).parents('li').attr('name') || $(e.target).attr('name') 
	    				$('li#statsItemLi').css('backgroundColor','#f8f8f8')
	    				$(e.target).parents('li#statsItemLi').css('backgroundColor','#25b359')
						vm.displayPlayerStatsItem(vm.$data.playerMatchResultList, type);
	    				vm.displayTeamStatsItem(vm.$data.teamMatchResultList, type);
	    			},
	    			displayPlayerStatsItem:function(list, type){
	    				var newList = []
						$.extend(true, newList, list);
	    				vm.$data.playerStatsItemDisplayList = _.chain(newList).filter(function(item) { return item[type] > 0;})
	    																   .sortBy(type)
	    																   .each(function(item){
	    																	   if(type== 'goalEfficiency'){
	    																		   item.showPercent = true
	    																		   item.itemCount = (item[type]*100).toFixed(1) 
	    																		   if(item.itemCount.substr(item.itemCount.indexOf('.')) == 0){
	    																			   item.itemCount = item.itemCount.substr(0,item.itemCount.indexOf('.')) + '%'
	    																		   }else{
	    																			   item.itemCount = item.itemCount + '%'
	    																		   }
	    																		   item.goals = item.goals
		    																	   item.shots = item.shots
	    																	   }else{
	    																		   item.itemCount = item[type]   
	    																	   }
	    																   }).value().reverse()	
	    				
							    																   
	    																   
						$.each(vm.$data.playerStatsItemDisplayList, function(i,v){
							if(v.playerImg && v.playerImg.indexOf('mmopen')>0){
								v.showWXLogo = true;
		    				}else{
		    					v.showWXLogo = false;
		    				}	
						})	    																   
							    																   
	    			},
	    			displayTeamStatsItem:function(list, type){
	    				var newList = []
						$.extend(true, newList, list);
	    				vm.$data.teamStatsItemDisplayList = _.chain(newList).filter(function(item) { return item[type] >= 0;})
	    																    .sortBy(type)
	    																    .each(function(item){
	    																    	if(type== 'goalEfficiency'){
		    																		   item.showPercent = true
		    																		   item.itemCount = (item[type]*100).toFixed(1) 
		    																		   if(item.itemCount.substr(item.itemCount.indexOf('.')) == 0){
		    																			   item.itemCount = item.itemCount.substr(0,item.itemCount.indexOf('.')) + '%'
		    																		   }else{
		    																			   item.itemCount = item.itemCount + '%'
		    																		   }
		    																		   item.goals = item.goals
			    																	   item.shots = item.shots
		    																	   }else{
		    																		   item.itemCount = item[type]   
		    																	   }
	    																    })
	    																    .value().reverse()												   
	    			},
	    			clickTeamResultItem:function(e) {
	                	var $target = $(e.target);
	                	$target = $target.is('ul') ? $target : $(e.target).parents('ul');
	                	var teamId = $target.attr('id');
	                	
	                	location.href = vm.$data.domain+'footballer/mobile/match/football/teamEachMatchResult.html?tournamentId='+ tournamentId + "&teamId=" + teamId;
	    			},
	    			clickTeamItem:function(e) {
                    	var $target = $(e.target);
                    	var teamId = $target.is('ul') ? $target.attr('id') : $(e.target).parents('ul').attr('id');
                    	var jsonObj = {
        						"teamId": teamId,  
        						'tournamentId':tournamentId,
                      			}
        				var json= encodeURIComponent(JSON.stringify(jsonObj))	
        				location.href= vm.$data.domain+'footballer/mobile/match/football/teamDashboard.html'+'?json='+json;
	    			},
	    			clickMatchItem:function(e) {
	                	var $target = $(e.target);
	                	$target = $target.is('ul') ? $target : $(e.target).parents('ul');
	                	var matchId = $target.attr('id');
	                	
	                	var matchResult = $target.attr('data-result');
	                	if(!matchResult || matchResult.length<=0) {
	                		alert(vm.$data.matchNotStartHint);
	                		return;
	                	}
	                	
	    				var time= $target.attr('data-matchtime');
	    				//var videoUrl = $target.attr('data-videoUrl');
	    				
	    				/* var jsonObj = {
        						"matchId": matchId,  
        						//'matchtime':time,
        						//'videoUrl':videoUrl,
        						'tournamentId':tournamentId,
                      			}
        				var json= JSON.stringify(jsonObj)
        				//var json= encodeURIComponent(JSON.stringify(jsonObj))
	                	location.href = vm.$data.domain+'footballer/mobile/match/football/matchDashboard.html?json='+ json; */
	    				
	                	
	                	//特殊处理 之前json 方式 出来得url 与需要分享时到微信浏览器上会出现不一致
	                	location.href = vm.$data.domain+'footballer/mobile/match/football/matchDashboard.html?type='+f$.cache('accessType')+'&matchId='+ matchId+'&tournamentId='+tournamentId;
	    			},
	    			clickPlayerItem:function(e) {
	                	var $target = $(e.target)
	                	$target = $target.is('ul') ? $target : $(e.target).parents('ul .ui-list')
	                	var playerId = $target.attr('id')
	                	
	                    var jsonObj = {
	                		"playerId" : playerId,
	                		"tournamentId":tournamentId,
	                	}
	    				var json= encodeURIComponent(JSON.stringify(jsonObj))	
	                	location.href = vm.$data.domain+'footballer/mobile/match/football/playerDashboard.html'+'?json='+json;		
	    			},
	    		}
	    	});
	    	
			function tabInit()
    		{
    			var tab = new fz.Scroll('.ui-tab', {
			        role: 'tab',
			        autoplay: false,
				});
			} 
			
			function scrollInit(){
				var scroll = new fz.Scroll('.ui-scroller', {
				    scrollY: false,
				    scrollX: true
				});
			} 
			
			vm.init();
			$('.ui-loading-block').removeClass("show");
    		
});
          
</script>
    </body>
</html>